@charset "UTF-8";
/** element */
@import '../css/font.css';
@import '../css/simpleBar.css';
@import '../css/swiper.min.css';
@import '../css/layout.css';
@import '../css/components.css';
/* reset */
html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  line-height: 1.6;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  letter-spacing: -0.25px;
  color: #111;
  font-family: "Pretendard", sans-serif;
  font-style: normal;
  vertical-align: baseline;
  -webkit-text-size-adjust: none;
  /* 크롬, 사파리, 오페라 신버전 */
  -ms-text-size-adjust: none;
  /* IE */
  -moz-text-size-adjust: none;
  /* 파이어폭스 */
  -o-text-size-adjust: none;
  /* 오페라 구버전 */
  -webkit-appearance: none;
  -webkit-overflow-scrolling: auto;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button,
html [type=button] {
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: none;
  background: url("/_res/kha_main/kha_home/img/common/search_select_arrow.png") no-repeat right 18px center;
  color: #888888;
}

select::-ms-expand {
  display: none;
}

input,
select {
  padding: 0;
  margin: 0;
  border: 1px solid #ebebeb;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  font-size: 1.6rem;
  vertical-align: middle;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}

legend {
  font-size: 0;
  text-indent: -100000px;
  left: -10000px;
  top: auto;
  height: 0;
  overflow: hidden;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  -ms-overflow-style: none;
}

ol,
ul,
li {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  padding: 0;
  border: 0;
  border-spacing: 0px;
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
}

table caption {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

button,
input[type=submit],
select {
  cursor: pointer;
}

button {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}

a.button {
  cursor: pointer;
  vertical-align: middle;
}

b {
  font-size: inherit;
  font-weight: 600;
}

a,
button {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
}

/* //reset */
/* color */
.primary400 {
  color: #0A3164;
}

.primary300 {
  color: #0046A3;
}

.primary200 {
  color: #0C61D0;
}

.primary100 {
  color: #63CBFF;
}

.primary {
  color: #EBF3FE;
}

.black {
  color: #000;
}

.Neutral300 {
  color: #111;
}

.Neutral200 {
  color: #545456;
}

.Neutral100 {
  color: #A3A3A5;
}

.Neutral0 {
  color: #e2e5e9;
}

.white {
  color: #fff;
}

.danger {
  color: #EB003B;
}

.bg-blue {
  color: #CDEAF6;
}

.bg-green {
  color: #DAF6B2;
}

.bg-green {
  color: #FFD3C2;
}

.txt-blue {
  color: #00587C;
}

.txt-green {
  color: #365C00;
}

.txt-red {
  color: #BB3500;
}

/* //color */
/* typography */
/* typography */
.title {
  line-height: 25.2px;
  color: #575757;
}

.title strong {
  color: #420D0E;
}

.tit-depth__01 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 130%;
}

.tit-depth__02 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 130%;
}

.tit-depth__03 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 150%;
}

.tit-depth__04 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 150%;
}

.tit-depth__05 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}

.txt-depth__01 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 160%;
}

.txt-depth__02 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}

.caption-depth__01 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
  color: #545456;
}

.notice-depth__01 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  color: #464648;
}

.notice-depth__01.warning {
  color: #D40000;
}

.form-depth {
  position: relative;
}

.form-depth__01 {
  font-size: 1.7rem;
  line-height: 160%;
  color: #111111;
  font-weight: 500;
}

.input-group.input-group__message > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-group.input-group__message > div > div:not(#jwxe_catpcha) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 0.5rem;
}

.input-group.input-group__message > div + input {
  margin-left: 2rem;
  border-radius: 0.6rem;
}

.input-group.input-group__message .b-input.w-288 {
  width: 28.8rem;
}

.input-group.input-group__message.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.essential {
  position: absolute;
  top: -0.5rem;
  left: auto;
  display: inline-block;
  margin-left: 0.2rem;
  font-size: 1.7rem;
  line-height: 160%;
  color: #0046A3;
  font-weight: 500;
}

/* Chrome, Edge 등 WebKit 기반 브라우저 */
input::-webkit-search-cancel-button,
input::-webkit-search-decoration,
input::-webkit-clear-button {
  display: none;
  -webkit-appearance: none;
}

/* Firefox */
input[type=search]::-moz-search-clear {
  display: none;
}

body:has(.site-map.active) {
  overflow: hidden;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body .w-full {
  width: 100%;
}
body .w-auto {
  width: auto;
}
body .w-100 {
  width: 10rem;
}
body .w-120 {
  width: 12rem;
}
body .w-130 {
  width: 13rem;
}
body .w-150 {
  width: 15rem;
}
body .w-430 {
  width: 43rem;
}
body .w-242 {
  width: 24.2rem;
}
body .w-244 {
  width: 24.4rem;
}
body .f_bold {
  font-weight: 600;
}
body .f_medium {
  font-weight: 500;
}

.input-width-full {
  width: 100%;
}
.input-width-tiny {
  width: 50px;
}
.input-width-small-mini {
  width: 60;
}
.input-width-small {
  width: 70px;
}
.input-width-regular {
  width: 80px;
}
.input-width-medium {
  width: 90px;
}
.input-width-large {
  width: 100px;
}
.input-width-big {
  width: 200px;
}
.input-width-date {
  width: 130px;
}
.input-width-date-select {
  width: 70px;
}
.input-width-year-select {
  width: 100px;
}
.input-height-tiny {
  height: 50px;
}
.input-height-43 {
  height: 4.3rem;
}
.input-height-190 {
  height: 19rem;
}
.input-height-small {
  height: 70px;
}
.input-height-regular {
  height: 80px;
}
.input-height-medium {
  height: 90px;
}
.input-height-large {
  height: 100px;
}
.input-height-big {
  height: 200px;
}

.btn {
  position: relative;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background: inherit;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}
.btn::after {
  content: "";
  display: block;
}
.btn.max-content {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.btn-apply {
  border: 1px solid #009e71;
  background: #009e71;
  color: #fff;
  border-radius: 999px;
}
.btn-apply.small {
  width: 7rem;
  height: 3.4rem;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 3.4rem;
}
.btn-list {
  border: 1px solid #009e71;
  background: #fff;
  color: #009e71;
  border-radius: 999px;
}
.btn-list.small {
  width: 12.6rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5.2rem;
}
.btn-list:disabled {
  border: 1px solid #AFC6BF;
  color: #AFC6BF !important;
}
.btn-download {
  border: 1px solid #111;
  color: #111;
  border-radius: 999px;
}
.btn-download.small {
  background: #FFF url(../image/common/btn-download.svg) no-repeat 89%/1.8rem;
  width: 9.4rem;
  padding: 0 3rem 0 1rem;
  height: 2.9rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.9rem;
}
.btn-download.small:disabled {
  background: #eee url(../image/common/btn-download--disabled.svg) no-repeat 89%/1.8rem !important;
}
.btn-download.large {
  background: #FFF url(../image/common/btn-download.svg) no-repeat 89%/2rem;
  height: 4.4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  padding: 0 4rem 0 2rem;
}
.btn-download.large:disabled {
  background: #eee url(../image/common/btn-download--disabled.svg) no-repeat 89%/2rem !important;
}
.btn-download:disabled {
  border: 1px solid #B5B5B5;
  color: #B5B5B5 !important;
}
.btn-event {
  border: 1px solid #002237;
  border-radius: 999px;
}
.btn-event.small {
  background: #fff;
  color: #002237;
  width: 12.6rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 5.2rem;
}
.btn-event.large {
  width: 26rem;
  background: #002237;
  color: #fff;
  font-size: 2.2rem;
  height: 8rem;
  font-weight: 500;
  line-height: 8rem;
}
.btn-event:disabled {
  border: 1px solid #D3DBDF !important;
  color: #D3DBDF !important;
}
.btn-datePicker {
  width: 4rem;
  height: 4rem;
  border: 1px solid #E0E5F0;
  border-radius: 0.8rem;
  background: url(../image/common/icon-datePicker.svg) no-repeat center/1.912rem 1.7rem;
}
.btn-cancel {
  border: 1px solid #E2E6ED;
  background: #fff;
  color: #555;
}
.btn-cancel.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-cancel.large {
  border-radius: 0.8rem;
  padding: 1.2rem 5.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-remove {
  border: 1px solid #E2E6ED;
  background: #fff;
  color: #555;
}
.btn-remove.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-reset {
  border: 1px solid transparent;
  background: #F1F3F8;
  color: #555;
}
.btn-reset.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-allView {
  border: 1px solid transparent;
  background: #F1F3F8;
  color: #555;
}
.btn-allView.small {
  border-radius: 0.8rem;
  width: 10rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-directMove {
  border: 1px solid transparent;
  background: #F1F3F8;
  color: #555;
}
.btn-directMove.small {
  border-radius: 0.8rem;
  width: 16.8rem;
  height: 5.2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-directMove.small::after {
  /*
  width: 0.8rem;
  height: 1.2rem;
  background: url(../image/common/icon-directMove.svg) no-repeat center/contain;
  position: absolute;
  right: 1.581rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  */
}
.btn-directMove.special {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0 8.4rem 0 3rem;
  height: 6.8rem;
  border: 3px solid #CDDEFB;
  border-radius: 999px;
  background: #fff;
  text-align: left;
  color: #000;
  text-indent: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-directMove.special:after {
  width: 4rem;
  height: 4rem;
  background: #000 url(../image/common/icon-directMove-special.svg) no-repeat center/1.4rem 1.2rem;
  border-radius: 999px;
  position: absolute;
  right: 1.4rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn-modify {
  border: 1px solid #ADB8CD;
  background: #fff;
  color: #000;
}
.btn-modify.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-modify.large {
  border-radius: 0.8rem;
  width: 14rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-write {
  border: 1px solid #001030;
  background: #001030;
  color: #fff;
}
.btn-write.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-regist {
  border: 1px solid #001030;
  background: #001030;
  color: #fff;
}
.btn-regist.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-regist.large {
  border-radius: 0.8rem;
  width: 14rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-temporary {
  border: 1px solid #7B8DAC;
  background: #7B8DAC;
  color: #fff;
}
.btn-temporary.small {
  border-radius: 0.8rem;
  width: 10rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-temporary.large {
  border-radius: 0.8rem;
  width: 14rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-search {
  border: 1px solid #555B66;
  background: #555B66;
  color: #fff;
}
.btn-search.small {
  border-radius: 0.8rem;
  width: 7.2rem;
  height: 4rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.8rem;
}
.btn-writeCom {
  border: 1px solid #001030;
  background: #001030;
  color: #fff;
}
.btn-writeCom.large {
  border-radius: 0.8rem;
  width: 14rem;
  height: 5.2rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.8rem;
}
.btn-login {
  border: 1px solid #001030;
  background: #001030;
  color: #fff;
}
.btn-login.big {
  border-radius: 1.6rem;
  width: 39.3rem;
  height: 6.4rem;
  font-size: 1.6rem;
  font-weight: 800;
  line-height: 2.8rem;
}

.table-height-43 table th,
.table-height-43 table td {
  height: 4.3rem;
}

.ta-l {
  text-align: left;
}
.ta-c {
  text-align: center;
}
.ta-r {
  text-align: right;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.mr-auto {
  margin-right: auto;
}
.ml-auto {
  margin-left: auto;
}
.ml-10 {
  margin-left: 1rem;
}
.ml-20 {
  margin-left: 2rem;
}
.ml-30 {
  margin-left: 3rem;
}
.mt-5 {
  margin-top: 0.5rem;
}
.mt-10 {
  margin-top: 1rem;
}
.mt-14 {
  margin-top: 1.4rem;
}
.mt-18 {
  margin-top: 1.8rem;
}
.mt-20 {
  margin-top: 2rem;
}
.mt-22 {
  margin-top: 2.2rem;
}
.mt-30 {
  margin-top: 3rem;
}
.mt-40 {
  margin-top: 4rem;
}
.mt-45 {
  margin-top: 4.5rem;
}
.mt-46 {
  margin-top: 4.6rem;
}
.mt-50 {
  margin-top: 5rem;
}
.mt-60 {
  margin-top: 6rem;
}
.mt-70 {
  margin-top: 7rem;
}
.mt-80 {
  margin-top: 8rem;
}
.mb-10 {
  margin-bottom: 1rem;
}
.mb-20 {
  margin-bottom: 2rem;
}
.mb-30 {
  margin-bottom: 3rem;
}
.mb-40 {
  margin-bottom: 4rem;
}
.mb-50 {
  margin-bottom: 5rem;
}
.mb-60 {
  margin-bottom: 6rem;
}
.mb-120 {
  margin-bottom: 12rem;
}

.overflow-hidden {
  overflow: hidden;
}

.direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.txt {
  letter-spacing: -0.025rem;
}
.txt-bold-depth--01 {
  font-family: "GyeonggiBatang";
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 140%;
  letter-spacing: -0.075rem;
}
.txt-bold-depth--02 {
  font-size: 4rem;
  font-weight: 700;
  line-height: 140%;
}
.txt-bold-depth--03 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 150%;
}
.txt-bold-depth--04 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 150%;
}
.txt-bold-depth--05 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 150%;
}
.txt-semiBold-depth--01 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 150%;
}
.txt-semiBold-depth--02 {
  font-size: 1.7rem;
  font-weight: 600;
  line-height: 160%;
}
.txt-semiBold-depth--03 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 160%;
}
.txt-regular-depth--01 {
  font-size: 1.7rem;
  font-weight: 400;
  line-height: 160%;
}
.txt-regular-depth--02 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
}
.txt-regular-depth--03 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 160%;
}

.px-22 {
  padding-left: 2.2rem;
  padding-right: 2.2rem;
}
.px-56 {
  padding-left: 5.6rem;
  padding-right: 5.6rem;
}

.py-6 {
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}
.py-12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.line-28 {
  line-height: 2.8rem;
}

.font-size--16 {
  font-size: 1.6rem;
}
.font-size--18 {
  font-size: 1.8rem;
}

.font-weight--400 {
  font-weight: 400;
}
.font-weight--500 {
  font-weight: 500;
}
.font-weight--600 {
  font-weight: 600;
}
.font-weight--600 {
  font-weight: 600;
}
.font-weight--800 {
  font-weight: 800;
}

.border-radius--8 {
  border-radius: 0.8rem;
}
.border-radius--16 {
  border-radius: 0.8rem;
}
.border-trans {
  border: 1px solid transparent;
}
.border-cyan {
  border: 1px solid #E2E6ED;
}
.border-black {
  border: 1px solid #000;
}

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.bg-white {
  background-color: #fff;
}
.bg-gray {
  background-color: #f8f8f8;
}
.bg-cyan {
  background-color: #F1F3F8;
}
.bg-navy {
  background-color: #001030;
}
.bg-black {
  background-color: #000;
}

.color-white {
  color: #fff;
}
.color-gray {
  color: #555;
}
.color-black {
  color: #000;
}

@media (min-width: 1025px) {
  .btn:disabled:hover {
    cursor: auto;
    background-color: initial;
    color: inherit;
  }
  .btn-datePicker:hover, .btn-datePicker:focus {
    border-color: #92A1BF;
  }
  .btn-cancel:hover, .btn-cancel:focus {
    color: #000;
  }
  .btn-remove:hover, .btn-remove:focus {
    color: #000;
  }
  .btn-reset:hover, .btn-reset:focus {
    color: #000;
  }
  .btn-allView:hover, .btn-allView:focus {
    color: #000;
  }
  .btn-directMove:hover {
    background: #009e71;
  }
  .btn-directMove:focus {
    background: #008B64;
  }
  .btn-event:hover {
    background: #003150;
    color: #fff;
  }
  .btn-event:focus {
    background: #001C2E;
    color: #fff;
  }
  .btn-download.small:hover {
    color: #fff;
    background: #111 url(../image/common/btn-download--hover.svg) no-repeat 89%/1.8rem;
  }
  .btn-download.small:focus {
    color: #fff;
    background: #000 url(../image/common/btn-download--hover.svg) no-repeat 89%/1.8rem;
  }
  .btn-download.large:hover {
    color: #fff;
    background: #111 url(../image/common/btn-download--hover.svg) no-repeat 89%/2rem;
  }
  .btn-download.large:focus {
    color: #fff;
    background: #000 url(../image/common/btn-download--hover.svg) no-repeat 89%/2rem;
  }
  .btn-list:hover {
    background: #009e71;
    color: #fff;
  }
  .btn-list:focus {
    background: #008B64;
    color: #fff;
  }
  .btn-modify:hover, .btn-modify:focus {
    border-color: #92A1BF;
  }
  .btn-write:hover, .btn-write:focus {
    border-color: #000A1F;
    background: #000A1F;
  }
  .btn-regist:hover, .btn-regist:focus {
    border-color: #000A1F;
    background: #000A1F;
  }
  .btn-temporary:hover, .btn-temporary:focus {
    border-color: #637697;
    background: #637697;
  }
  .btn-search:hover, .btn-search:focus {
    border-color: #484F5B;
    background: #484F5B;
    color: #fff;
  }
  .btn-writeCom:hover, .btn-writeCom:focus {
    border-color: #000A1F;
    background: #000A1F;
  }
  .btn-login:hover, .btn-login:focus {
    border-color: #000A1F;
    background: #000A1F;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .btn-datePicker {
    width: 4rem;
    height: 4rem;
  }
  .btn-cancel.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
  }
  .btn-cancel.large {
    height: 4.4rem;
    line-height: 4.4rem;
    font-size: 1.3rem;
    border-radius: 0.8rem;
    padding: 0;
  }
  .btn-download.large {
    padding: 0 3rem 0 1rem;
    height: 2.9rem;
    line-height: 150%;
    font-size: 1.4rem;
    background: #FFF url(../image/common/btn-download.svg) no-repeat 87%/1.8rem;
  }
  .btn-remove {
    border: 1px solid #E2E6ED;
    background: #fff;
    color: #555;
  }
  .btn-remove.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
  }
  .btn-reset {
    border: 1px solid transparent;
    background: #F1F3F8;
    color: #555;
  }
  .btn-reset.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
  }
  .btn-allView {
    border: 1px solid transparent;
    background: #F1F3F8;
    color: #555;
  }
  .btn-allView.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 9.2rem;
    height: 3.6rem;
  }
  .btn-directMove {
    border: 1px solid transparent;
    background: #F1F3F8;
    color: #555;
  }
  .btn-directMove.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    text-align: center;
    height: 4.4rem;
  }
  .btn-directMove.small::after {
    /*
    width: 0.8rem;
    height: 1.2rem;
    background: url(../image/common/icon-directMove.svg) no-repeat center/contain;
    position: absolute;
    right: 1.581rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    */
  }
  .btn-directMove.special {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding: 0 8rem 0 3rem;
    height: 6rem;
    border: 3px solid #CDDEFB;
    border-radius: 999px;
    background: #fff;
    text-align: left;
    color: #000;
    text-indent: 0;
    font-size: 1.7rem;
    font-weight: 600;
    line-height: 2.7rem;
    -webkit-box-flex: 0 !important;
        -ms-flex: none !important;
            flex: none !important;
  }
  .btn-directMove.special:after {
    width: 4rem;
    height: 4rem;
    background: #000 url(../image/common/icon-directMove-special.svg) no-repeat center/1.4rem 1.2rem;
    border-radius: 999px;
    position: absolute;
    right: 1rem;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .btn-event.large {
    font-size: 1.8rem;
    width: 26rem;
    height: 6.6rem;
    line-height: 6.6rem;
  }
  .btn-apply.small {
    font-size: 1.4rem;
    width: 8.2rem;
    height: 3.4rem;
    line-height: 3.4rem;
  }
  .btn-list.small {
    font-size: 1.4rem;
    width: 7.2rem;
    height: 5.2rem;
    line-height: 3.6rem;
  }
  .btn-list.large {
    font-size: 1.4rem;
    width: 12rem;
    height: 4.4rem;
  }
  .btn-modify {
    border: 1px solid #ADB8CD;
    background: #fff;
    color: #000;
  }
  .btn-modify.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
  }
  .btn-modify.large {
    font-size: 1.4rem;
    border-radius: 0.8rem;
    width: 12rem;
    height: 4.4rem;
  }
  .btn-write {
    border: 1px solid #001030;
    background: #001030;
    color: #fff;
  }
  .btn-write.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-regist {
    border: 1px solid #001030;
    background: #001030;
    color: #fff;
  }
  .btn-regist.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-regist.large {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 12rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-temporary {
    border: 1px solid #7B8DAC;
    background: #7B8DAC;
    color: #fff;
  }
  .btn-temporary.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 9.2rem;
    height: 3.6rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-temporary.large {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 12rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-search {
    border: 1px solid #555B66;
    background: #555B66;
    color: #fff;
  }
  .btn-search.small {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 7.2rem;
    height: 3.6rem;
  }
  .btn-writeCom {
    border: 1px solid #001030;
    background: #001030;
    color: #fff;
  }
  .btn-writeCom.large {
    font-size: 1.3rem;
    border-radius: 0.8rem;
    width: 12rem;
    height: 4.4rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.8rem;
  }
  .btn-login {
    border: 1px solid #001030;
    background: #001030;
    color: #fff;
    font-size: 1.4rem;
  }
  .btn-login.big {
    border-radius: 1.6rem;
    width: 39.3rem;
    height: 6.4rem;
    font-size: 1.4rem;
    font-weight: 800;
    line-height: 2.8rem;
  }
}
@media (max-width: 1024px) {
  .tit-depth__01 {
    font-size: 2.4rem;
  }
  .tit-depth__03 {
    font-size: 1.8rem;
  }
  .caption-depth__01 {
    font-size: 1.2rem;
  }
  .tit-depth__04 {
    font-size: 1.8rem;
  }
  .tit-depth__05 {
    font-size: 1.6rem;
  }
}
/*mobile*/
@media (min-width: 320px) and (max-width: 1024px) {
  html,
  body {
    font-size: 48.0769230769%;
  }
}
@media (min-width: 360px) and (max-width: 1024px) {
  html,
  body {
    font-size: 62.5%;
  }
}
@media (min-width: 480px) and (max-width: 1024px) {
  body,
  html {
    font-size: 81.25%;
  }
}
@media (min-width: 720px) and (max-width: 1024px) {
  body,
  html {
    font-size: 112.5%;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  body,
  html {
    font-size: 44.6428571429%;
  }
}
@media (min-width: 1200px) and (max-width: 1400px) {
  body,
  html {
    font-size: 52.0833333333%;
  }
}
/* //typography */