@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-size: 1.6rem; /* 16px로 기본 복구 */
  line-height: 1.5;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
	font-family: 'notokr', sans-serif;
	font-style: normal;
    vertical-align: baseline;
    
    -webkit-text-size-adjust : none;  /* 크롬, 사파리, 오페라 신버전 */
    -ms-text-size-adjust : none;  /* IE */
    -moz-text-size-adjust : none;  /* 파이어폭스 */
    -o-text-size-adjust : none;  /* 오페라 구버전 */
    -webkit-appearance: none;   
    -webkit-overflow-scrolling:auto;
    box-sizing: border-box;
}

img{
    max-width: 100%;
    max-height: 100%;
}
.close{
    opacity: 1;
}
.close:hover, .close:focus{
    opacity: 1;
}
button, html [type="button"] {
    -webkit-appearance: none;   
  }
select{-webkit-appearance: none;appearance: none;-moz-appearance: none;background: url('../images/common/search_select_arrow.png') no-repeat right 18px center;color: #888888;}
select::-ms-expand {display:none}
input, select{padding: 0;margin: 0;border: 1px solid #ebebeb;box-sizing: border-box;color: #000;font-size: 1.6rem;vertical-align: middle; -webkit-appearance: none;-webkit-border-radius: 0;}
legend{font-size: 0;text-indent: -100000px;left: -10000px;top: auto;height: 0;overflow: hidden;}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    -ms-overflow-style: none;
}

ol, ul, li {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    padding:0;
    border:0;
    border-spacing:0px;
    border-collapse:collapse;
    width:100%;
    
}
th,td{
    padding:0;
}
table caption{position:absolute;top:-9999px;left:-9999px;}

a{text-decoration:none; color: #000;cursor:pointer;} 

button, input[type="submit"], select{cursor:pointer}
button{border:none;padding:0;margin:0;background:none;}
a.button {cursor: pointer;vertical-align: middle;}
b{font-size: inherit; font-weight: 600;}


@media (max-width: 1024px) {
    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video{
        letter-spacing: -0.025em;
    }

}
