.sub-container.research.view .subVisual-wrap {
  position: relative;
}
.sub-container.research.view .subVisual-wrap .subVisual::before {
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
  content: "";
}
.sub-container.research.view .subVisual {
  position: relative;
}
.sub-container.research.view .subVisual::before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.4);
}
.sub-container.research.view .breadcrumb-wrap {
  -webkit-box-pack: unset;
      -ms-flex-pack: unset;
          justify-content: unset;
}
.sub-container.research.view .breadcrumb-wrap .date,
.sub-container.research.view .breadcrumb-wrap .view {
  margin-left: 4rem;
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.research.view .breadcrumb-wrap .view em {
  font-weight: 500;
  font-size: 1.5rem;
  color: #fff;
  line-height: 160%;
  margin-left: 0.2rem;
}
.sub-container.research.view .breadcrumb-tit {
  text-align: left;
}
.sub-container.research.view .breadcrumb-tit.upper {
  color: #00E8A6;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 12.6rem;
}
.sub-container.research.view .breadcrumb-tit.lower {
  max-width: 110rem;
  font-size: 3.8rem;
  font-weight: 500;
  line-height: 150%;
  margin-top: 1.2rem;
}
.sub-container.research.view .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.research.view .profile + .profile {
  margin-left: 1.7rem;
}
.sub-container.research.view .profile span {
  width: 3.6rem;
  height: 3.6rem;
  display: block;
  border-radius: 999px;
  overflow: hidden;
}
.sub-container.research.view .profile span img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sub-container.research.view .profile .name {
  width: auto;
  height: auto;
  margin-left: 0.8rem;
  font-weight: 500;
  font-size: 1.6rem;
  color: #fff;
  line-height: 160%;
  border-radius: 0;
}
.sub-container.research .info {
  margin-top: 8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.sub-container.research .info .profile-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.research .other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-top: 2.4rem;
  width: 100%;
}
.sub-container.research .other .external {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.research .other .external li {
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 999px;
  background: rgba(255, 255, 255, 0.2);
}
.sub-container.research .other .external li + li {
  margin-left: 0.6rem;
}
.sub-container.research .other .tag li {
  font-weight: 500;
  font-size: 1.3rem;
  color: #fff;
  line-height: 160%;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 999px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 0.4rem 1rem;
}
.sub-container.research .other .tag li + li {
  margin-left: 0.6rem;
}
.sub-container.research .board-detail__view-inner .accordion {
  border-top: none;
}
.sub-container.research .board-detail__view-inner .accordion .txt {
  padding: 2.4rem 2.4rem 6.4rem 2.4rem;
}
.sub-container.research-topic .gallery-link {
  cursor: default;
}
.sub-container.research-topic .content-gallery {
  grid-gap: 6rem 4rem;
  margin-top: 4rem;
  grid-template-columns: repeat(4, 1fr);
}
.sub-container.research-topic .content-gallery + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.research-topic .img-wrap {
  position: relative;
}
.sub-container.research-topic .img-wrap + h3.sub-tit {
  margin-top: 6rem;
}
.sub-container.research-topic .txt-wrap {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 5rem;
  z-index: 3;
}
.sub-container.research-topic .txt-wrap .tit {
  font-size: 3.4rem;
  font-weight: 600;
  color: #fff;
  line-height: 160%;
}
.sub-container.research-topic .txt-wrap .txt {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-weight: 400;
  color: #fff;
  line-height: 160%;
  word-break: keep-all;
}
.sub-container.research-public .content-gallery {
  grid-gap: 6rem 4rem;
  margin-top: 4rem;
  grid-template-columns: repeat(4, 1fr);
}
.sub-container.research-public .content-gallery + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.research .breadcrumb__tit {
  color: #000;
}
.sub-container.research .img-wrap {
  border-radius: 0.8rem;
  overflow: hidden;
}
.sub-container.research .img-wrap .img.pc {
  display: block;
}
.sub-container.research .img-wrap .img img {
  width: 100%;
}
.sub-container.research .content-detail {
  position: relative;
  width: 100%;
  overflow: hidden;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.research.view .sub-content__inner {
    margin: 2rem 0 8rem 0;
  }
  .sub-container.research.view .board-detail__view-inner {
    padding: 0 0 3rem 0;
  }
  .sub-container.research.view .board-detail__view-inner .accordion .txt {
    padding: 2rem;
  }
  .sub-container.research.view .breadcrumb-wrap .upper {
    margin-top: 10.4rem;
  }
  .sub-container.research.view .breadcrumb-wrap .info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 2.6rem;
  }
  .sub-container.research.view .breadcrumb-wrap .date,
  .sub-container.research.view .breadcrumb-wrap .view {
    display: inline-block;
    margin-left: 0;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-top: 2rem;
    font-size: 1.3rem;
  }
  .sub-container.research.view .breadcrumb-wrap .date em,
  .sub-container.research.view .breadcrumb-wrap .view em {
    font-size: 1.3rem;
  }
  .sub-container.research.view .breadcrumb-wrap .view {
    margin-left: 1.6rem;
  }
  .sub-container.research.view .breadcrumb-wrap .profile-wrap {
    width: 100%;
  }
  .sub-container.research.view .breadcrumb-wrap .profile-wrap span {
    width: 3.2rem;
    height: 3.2rem;
  }
  .sub-container.research.view .breadcrumb-wrap .profile-wrap .name {
    width: auto;
    height: auto;
    margin-left: 0.6rem;
    font-size: 1.4rem;
  }
  .sub-container.research.view .breadcrumb-wrap .other {
    margin-top: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sub-container.research.view .breadcrumb-wrap .other .external {
    margin-left: 0;
    margin-top: 1rem;
  }
  .sub-container.research.view .breadcrumb-wrap .other .external li {
    width: 4rem;
    height: 4rem;
  }
  .sub-container.research.view .breadcrumb-wrap .tag {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -0.4rem;
    margin-top: -0.4rem;
    min-width: 30rem;
  }
  .sub-container.research.view .breadcrumb-wrap .tag li {
    padding: 0.36rem 1rem;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
    font-size: 1.3rem;
  }
  .sub-container.research.view .breadcrumb-wrap .tag li + li {
    margin-left: 0;
  }
  .sub-container.research.view .profile + .profile {
    margin-left: 2rem;
  }
  .sub-container.research.view .breadcrumb-tit.upper {
    font-size: 1.4rem;
  }
  .sub-container.research.view .breadcrumb-tit.lower {
    margin-top: 1rem;
    font-size: 2.6rem;
  }
  .sub-container.research-topic .content-gallery {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem 1rem;
    gap: 3rem 1rem;
    margin-top: 2rem;
  }
  .sub-container.research-topic .txt-wrap {
    top: 4rem;
    left: 3rem;
    -webkit-transform: unset;
            transform: unset;
    padding-right: 3rem;
  }
  .sub-container.research-topic .txt-wrap .tit {
    font-size: 2.4rem;
  }
  .sub-container.research-topic .txt-wrap .txt {
    font-size: 1.4rem;
    margin-top: 2rem;
  }
  .sub-container.research-topic .img-wrap + h3.sub-tit {
    margin-top: 4rem;
  }
  .sub-container.research .img-wrap .img.pc {
    display: none;
  }
  .sub-container.research .img-wrap .img.mo {
    display: block;
    height: 0;
    padding-bottom: 85.37%;
    position: relative;
  }
  .sub-container.research .img-wrap .img.mo img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sub-container.policy .content-detail {
    padding-bottom: 183.337%;
  }
  .sub-container.policy .content-detail::after {
    background: url("../image/sub/policy-mo.svg") no-repeat right center/cover;
  }
  .sub-container.policy .content-detail .txt-wrap {
    left: 50%;
    top: 7.5%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
  .sub-container.policy .content-detail .txt-wrap .tit {
    text-align: center;
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .sub-container.policy .content-detail .txt-wrap .tit span {
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 6%;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span {
    font-size: 1.4rem;
    line-height: 2.52rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span em {
    font-size: 1.4rem;
    line-height: 2.52rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span em::before {
    height: 0.8rem;
  }
}