.sub-container.intro-next .content-layout {
  margin-top: 6rem;
}
.sub-container.intro-next .img-wrap + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.intro-next h3.sub-tit + .block-4 {
  margin-top: 4rem;
}
.sub-container.intro-next h3.sub-tit + .block-2x3 {
  margin-top: 4rem;
}
.sub-container.intro-next h3.sub-tit + .block-3 {
  margin-top: 4rem;
}
.sub-container.intro-next .content-detail .block-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.intro-next .content-detail .block-4 .txt-wrap {
  left: 50%;
  top: 24%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.sub-container.intro-next .content-detail .block-4 .txt-wrap .tit {
  font-size: 2.2rem;
  color: #fff;
  line-height: 150%;
  font-weight: 600;
}
.sub-container.intro-next .content-detail .block-4 .txt-wrap .tag {
  margin-top: 5.7rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.intro-next .content-detail .block-4 .txt-wrap .tag li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 150%;
  color: #d3ffe2;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #d3ffe2;
  border-radius: 999px;
  padding: 0.4rem 1rem;
}
.sub-container.intro-next .content-detail .block-4 .txt-wrap .tag li + li {
  margin-top: 0.6rem;
}
.sub-container.intro-next .content-detail .block-4 .item + .item {
  margin-left: 2rem;
}
.sub-container.intro-next .content-detail .block-4 + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.intro-next .content-detail .block-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.intro-next .content-detail .block-3 .item {
  border: 1px solid #dedede;
  border-radius: 0.8rem;
  overflow: hidden;
}
.sub-container.intro-next .content-detail .block-3 .item + .item {
  margin-left: 3.2rem;
}
.sub-container.intro-next .content-detail .block-3 .txt-wrap {
  position: static;
  -webkit-transform: unset;
          transform: unset;
  padding: 4rem 4.6rem 4rem 4rem;
}
.sub-container.intro-next .content-detail .block-3 .txt-wrap .sub-tit {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  color: #585858;
}
.sub-container.intro-next .content-detail .block-3 .txt-wrap .tit {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 150%;
  color: #111;
  margin-top: 1.6rem;
}
.sub-container.intro-next .content-detail .block-3 .txt-wrap .txt {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 170%;
  color: #585858;
  margin-top: 1.5rem;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}
.sub-container.intro-next .content-detail .block-3 .txt-wrap .btn-wrap {
  margin-top: 2.2rem;
}
.sub-container.intro-next .block-2x3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.2rem;
  gap: 3.2rem;
}
.sub-container.intro-next .block-2x3 .item {
  height: 14rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #dedede;
  border-radius: 0.8rem;
  overflow: hidden;
}
.sub-container.intro-next .block-2x3 .item .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.intro-next .block-2x3 .item .img img {
  -o-object-fit: contain;
     object-fit: contain;
}
.sub-container.intro-next .block-2x3 + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.intro-next .item {
  position: relative;
  border-radius: 0.8rem;
  overflow: hidden;
}
.sub-container.intro-next .item img {
  display: block;
}
.sub-container.intro-next .txt-wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.sub-container.intro-group .content-gallery {
  grid-gap: 6rem 4rem;
  gap: 6rem 4rem;
  margin-top: 4rem;
}
.sub-container.intro-group .content-gallery--01 {
  grid-template-columns: repeat(4, 1fr);
}
.sub-container.intro-group .content-gallery--02 {
  grid-template-columns: repeat(4, 1fr);
}
.sub-container.intro-group .content-gallery--03 {
  grid-template-columns: repeat(4, 1fr);
}
.sub-container.intro-group .content-gallery + h3.sub-tit {
  margin-top: 8rem;
}
.sub-container.intro-group .content-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.intro-group .content-view + .btn-wrap {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
}
.sub-container.intro-group .viewer__data {
  margin-left: 0;
}
.sub-container.intro-group .viewer__data .name {
  margin-top: 2rem;
  font-size: 3rem;
  line-height: 160%;
}
.sub-container.intro-group .viewer__data .position {
  margin-top: 1.4rem;
  font-size: 1.6rem;
  line-height: 160%;
}
.sub-container.intro-group .viewer__data .personal {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 160%;
  padding-left: 3rem;
}
.sub-container.intro-group .viewer__data .email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  line-height: 160%;
  padding-left: 3rem;
}
.sub-container.intro-group .viewer__data .name,
.sub-container.intro-group .viewer__data .position {
  text-align: center;
}
.sub-container.intro-group .view-left {
  width: 38rem;
}
.sub-container.intro-group .view-left .viewer__img {
  width: 100%;
  height: 50rem;
}
.sub-container.intro-group .view-left .viewer__img img {
  width: 100%;
  height: 100%;
}
.sub-container.intro-group .view-right {
  margin-left: 10rem;
  width: calc(100% - 48rem);
}
.sub-container.intro-group .view-right .cate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6rem;
  line-height: 160%;
  color: #000;
  font-weight: 500;
}
.sub-container.intro-group .view-right .cate + .txt, .sub-container.intro-group .view-right .cate + .lists {
  margin-top: 1rem;
}
.sub-container.intro-group .view-right .cate:nth-of-type(n + 2) {
  margin-top: 6rem;
}
.sub-container.intro-group .view-right .cate::before {
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  display: block;
  margin-right: 1rem;
}
.sub-container.intro-group .view-right .cate.intro::before {
  background: url(../image/sub/cate-intro.svg) no-repeat center/2.4rem;
}
.sub-container.intro-group .view-right .cate.personal::before {
  background: url(../image/sub/cate-personal.svg) no-repeat center/2.4rem;
}
.sub-container.intro-group .view-right .cate.edu::before {
  width: 2.6rem;
  height: 2.6rem;
  background: url(../image/sub/cate-edu.svg) no-repeat center/2.6rem;
}
.sub-container.intro-group .view-right .cate.report::before {
  background: url(../image/sub/cate-report.svg) no-repeat center/2.4rem;
}
.sub-container.intro-group .view-right .txt {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  color: #111;
}
.sub-container.intro-group .view-right .lists li {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  color: #111;
}
.sub-container.intro-group .view-right .lists li a {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 160%;
  color: #111;
}
.sub-container.intro .breadcrumb__tit {
  color: #000;
}
.sub-container.intro .img-wrap .img {
  border-radius: 0.8rem;
  overflow: hidden;
}
.sub-container.intro .img-wrap .img img {
  width: 100%;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.intro-next .content-layout {
    margin-top: 4rem;
  }
  .sub-container.intro-next .img-wrap + h3.sub-tit {
    margin-top: 6rem;
  }
  .sub-container.intro-next h3.sub-tit + .block-4 {
    margin-top: 2rem;
  }
  .sub-container.intro-next h3.sub-tit + .block-2x3 {
    margin-top: 2rem;
  }
  .sub-container.intro-next h3.sub-tit + .block-3 {
    margin-top: 2rem;
  }
  .sub-container.intro-next .content-detail .block-4 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
  }
  .sub-container.intro-next .content-detail .block-4 a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .sub-container.intro-next .content-detail .block-4 .txt-wrap {
    width: 100%;
  }
  .sub-container.intro-next .content-detail .block-4 .txt-wrap .tag {
    margin-top: 3.6rem;
  }
  .sub-container.intro-next .content-detail .block-4 .txt-wrap .tag li {
    font-size: 1.2rem;
    padding: 0.3rem 0.8rem;
  }
  .sub-container.intro-next .content-detail .block-4 .txt-wrap .tag li + li {
    margin-top: 0.4rem;
  }
  .sub-container.intro-next .content-detail .block-4 .item {
    width: 100%;
    height: 22rem;
  }
  .sub-container.intro-next .content-detail .block-4 .item img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .sub-container.intro-next .content-detail .block-4 .item + .item {
    margin-left: 0;
  }
  .sub-container.intro-next .content-detail .block-4 .item .txt-wrap .tit {
    font-size: 1.8rem;
    text-align: center;
  }
  .sub-container.intro-next .content-detail .block-4 + h3.sub-tit {
    margin-top: 6rem;
  }
  .sub-container.intro-next .content-detail .block-2x3 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    gap: 1rem;
  }
  .sub-container.intro-next .content-detail .block-2x3 a {
    width: 100%;
    height: 100%;
    display: block;
  }
  .sub-container.intro-next .content-detail .block-2x3 .item {
    width: 100%;
    height: 5.2rem;
  }
  .sub-container.intro-next .content-detail .block-2x3 .item + .item {
    margin-left: 0;
  }
  .sub-container.intro-next .content-detail .block-2x3 + h3.sub-tit {
    margin-top: 6rem;
  }
  .sub-container.intro-next .content-detail .block-3 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.intro-next .content-detail .block-3 .item + .item {
    margin-top: 1rem;
    margin-left: 0;
  }
  .sub-container.intro-next .content-detail .block-3 .txt-wrap {
    padding: 2rem;
  }
  .sub-container.intro-next .content-detail .block-3 .txt-wrap .sub-tit {
    font-size: 1.4rem;
  }
  .sub-container.intro-next .content-detail .block-3 .txt-wrap .tit {
    font-size: 1.6rem;
    margin-top: 0.6rem;
  }
  .sub-container.intro-next .content-detail .block-3 .txt-wrap .btn-wrap {
    margin-top: 1.2rem;
  }
  .sub-container.intro-next .content-detail .block-3 .txt-wrap .btn-wrap .btn-download {
    width: 9.5rem;
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
  }
  .sub-container.intro-group .viewer__data .personal {
    margin-top: 1.5rem;
  }
  .sub-container.intro-group .viewer__data .personal,
  .sub-container.intro-group .viewer__data .email {
    font-size: 1.4rem;
    padding-left: 2.4rem;
  }
  .sub-container.intro-group .viewer__data .name {
    font-size: 2.2rem;
  }
  .sub-container.intro-group .viewer__data .position {
    margin-top: 0.8rem;
    font-size: 1.4rem;
  }
  .sub-container.intro-group .content-view {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.intro-group .content-view + .btn-wrap {
    margin-top: 3rem;
  }
  .sub-container.intro-group .content-view .view-left {
    width: 100%;
  }
  .sub-container.intro-group .content-view .view-left .viewer__img {
    position: relative;
    height: 0;
    padding-bottom: 131%;
  }
  .sub-container.intro-group .content-view .view-left .viewer__img img {
    -o-object-fit: cover;
       object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
  }
  .sub-container.intro-group .content-view .view-right {
    margin-top: 4rem;
    margin-left: 0;
    width: 100%;
  }
  .sub-container.intro-group .content-view .view-right .cate {
    font-size: 2rem;
  }
  .sub-container.intro-group .content-view .view-right .cate:nth-of-type(n + 2) {
    margin-top: 3rem;
  }
  .sub-container.intro-group .content-view .view-right .cate::before {
    width: 2rem;
    height: 2rem;
    margin-right: 0.5rem;
  }
  .sub-container.intro-group .content-view .view-right .cate.intro::before {
    background: url(../image/sub/cate-intro.svg) no-repeat center/2rem;
  }
  .sub-container.intro-group .content-view .view-right .cate.personal::before {
    background: url(../image/sub/cate-personal.svg) no-repeat center/2rem;
  }
  .sub-container.intro-group .content-view .view-right .cate.edu::before {
    background: url(../image/sub/cate-edu.svg) no-repeat center/2rem;
  }
  .sub-container.intro-group .content-view .view-right .cate.report::before {
    background: url(../image/sub/cate-report.svg) no-repeat center/2rem;
  }
  .sub-container.intro-group .content-view .view-right .txt {
    font-size: 1.4rem;
  }
  .sub-container.intro-group .content-view .view-right .lists li {
    font-size: 1.4rem;
  }
  .sub-container.intro-group .content-view .view-right .lists li a {
    font-size: 1.4rem;
  }
  .sub-container.intro-group .content-gallery {
    margin-top: 2rem;
    grid-gap: 3rem 1rem;
    gap: 3rem 1rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .sub-container.intro-group .content-gallery + h3.sub-tit {
    margin-top: 4rem;
  }
}