.sub-container.community-festival .tab-panel:nth-child(1) .board-detail__view-inner {
  margin: 6rem 0;
  padding: 0;
}
.sub-container.community-festival .tab-panel:nth-child(2) {
  margin-top: 6rem;
  margin-bottom: 4rem;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
.sub-container.community-festival .tab-panel:nth-child(2) .board-detail__view-inner {
  padding: 0;
  margin: 4rem 0;
}
.sub-container.community-festival .tab-panel:nth-child(2) .board-detail__file {
  padding-bottom: 4rem;
}
.sub-container.community-notice .board-detail__view-inner {
  padding: 4rem 0 10rem 0;
}
.sub-container.community-notice .board-layout__table td:nth-child(3) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sub-container.community-notice .board-layout__table td:nth-child(4) {
  color: #585858;
}
.sub-container.community-notice .board-layout__table td:nth-child(5) {
  color: #585858;
}
.sub-container.community-zeroBar .board-layout__gallery .gallery-link__img {
  position: relative;
}
.sub-container.community-zeroBar .board-layout__gallery .gallery-link__img::before {
  content: "";
  position: absolute;
  z-index: 2;
  left: 1.4rem;
  top: 1.4rem;
  background: url(../image/sub/zeroBar-icon.png) no-repeat center/contain;
  width: 4.4rem;
  height: 4.4rem;
}
.sub-container.community .form-wrap .form-block .textArea-wrap {
  height: 24rem;
}
@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.cardNews .link-post > * a {
    padding-right: 0;
    width: calc(100% - 1rem);
  }
  .sub-container.community .board-layout--list .sch-wrap .custom-select.w-120 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 max-content;
            flex: 1 1 max-content;
  }
  .sub-container.community .board-layout--list .sch-wrap .custom-select + .sch-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 max-content;
            flex: 1 1 max-content;
  }
  .sub-container.community-festival .tab-panel:nth-child(1) .board-detail__view-inner {
    margin: 3rem 0;
  }
  .sub-container.community-festival .tab-panel:nth-child(2) {
    margin: 3rem 0;
  }
  .sub-container.community-festival .tab-panel:nth-child(2) .board-detail__view-inner {
    margin: 3.2rem 0;
  }
  .sub-container.community-festival .tab-panel:nth-child(2) .board-detail__file {
    padding-bottom: 3.2rem;
  }
  .sub-container.community-notice .board-detail__view-inner {
    padding: 3.2rem 0;
  }
  .sub-container.community-zeroBar .board-layout__gallery .gallery-link__img {
    position: relative;
  }
  .sub-container.community-zeroBar .board-layout__gallery .gallery-link__img::before {
    left: 1rem;
    top: 1rem;
    background: url(../image/sub/zeroBar-icon.png) no-repeat center/contain;
    width: 4rem;
    height: 4rem;
  }
  .sub-container.community .form-wrap .form-block {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub-container.community .table-basic--qnaWrite .form-block {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}