@charset "UTF-8";
/** 소통마당 > 공지사항 */
.board-layout__list-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3.8rem 3rem;
  gap: 3.8rem 3rem;
}
.board-layout__list-gallery .gallery-link {
  display: block;
}
.board-layout__list-gallery .gallery-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.board-layout__view + .btn-wrap {
  margin-top: 5rem;
}
.board-layout__view .explan-box--data + .explan-box--txt {
  margin-top: 1.4rem;
}
.board-layout__view .explan-box--data span {
  position: relative;
}
.board-layout__view .explan-box--data .name {
  font-size: 2.6rem;
  font-weight: 500;
  color: #000;
  padding-right: 0.7rem;
}
.board-layout__view .explan-box--data .job:before,
.board-layout__view .explan-box--data .country:before {
  position: absolute;
  content: "/";
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.board-layout__view .explan-box--data .job {
  padding: 0 0.3rem 0 1.3rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.board-layout__view .explan-box--data .country {
  padding: 0 0 0 1.5rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.board-layout__view .explan-box--txt {
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
  line-height: 3rem;
}
.board-layout__view .explan-box--txt + .link-wrap {
  margin-top: 2.2rem;
}
.board-layout__view .explan-wrap__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}
.board-layout__view .explan-wrap__box--left {
  margin-right: 2rem;
  position: relative;
}
.board-layout__view .explan-wrap__box--left .cover {
  width: 45rem;
  height: 33.1rem;
  display: block;
}
.board-layout__view .explan-wrap__box--left .cover img {
  width: 100%;
  height: 100%;
}
.board-layout__view .explan-wrap__box--left .cover + .explan-wrap__refer {
  margin-top: 1rem;
  position: absolute;
  font-size: 1.4rem;
  font-weight: 300;
  color: #7d7d7d;
}
.board-layout__view .explan-wrap__box--right {
  background: #f8f8f8;
  padding: 4rem 6rem;
}
.board-layout__view .explan-wrap__box--right .link-wrap a {
  background: #fff;
  border: 1px solid #0066cc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 1.2rem 1.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #0066cc;
}
.board-layout__view .explan-wrap + .attProgram-wrap {
  margin-top: 7.7rem;
}
.board-layout__view .explan-wrap__box .cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.board-layout__view .explan-wrap__box .cover img {
  width: 100%;
  display: block;
}
.board-layout__view .attProgram-wrap .sub-sec__tit {
  margin-bottom: 2rem;
}
.board-layout__view .attProgram-wrap__refer {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
  height: 2.7rem;
  word-wrap: break-word;
  line-height: 3.7rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7d7d7d;
}
.board-layout__view .attProgram-wrap__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.board-layout__view .attProgram-wrap__box--left {
  width: 71rem;
  margin-right: 6rem;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 100%;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 32.7rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item:before {
  content: "";
  position: absolute;
  z-index: 2;
  background: transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 2.7rem);
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item.on {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item.on::before {
  display: none;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item.on .attProgram-wrap__refer {
  display: block;
  opacity: 1;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item + .accordion-wrap__item {
  padding-left: 1rem;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .cover {
  width: 100%;
  height: 30rem;
  display: block;
  position: relative;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .cover::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 7.5rem;
  width: 100%;
  opacity: 0.6;
  cursor: pointer;
  background: rgb(0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .cover img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}
.board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .name {
  position: absolute;
  bottom: 2rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  width: 100%;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}
.board-layout__view .attProgram-wrap__box--right {
  width: calc(100% - 77rem);
}
.board-layout__view .attProgram-wrap__box--right .attProgram-wrap--tit {
  font-size: 2.4rem;
  font-weight: 500;
  color: #000;
  padding-bottom: 2.4rem;
  border-bottom: 1px solid #000;
}
.board-layout__view .attProgram-wrap__box--right .attProgram-wrap--tit + .attProgram-info {
  margin-top: 2.4rem;
}
.board-layout__view .attProgram-wrap__box--right .attProgram-info li {
  line-height: 3.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.board-layout__view .attProgram-wrap__box--right .attProgram-info li span {
  display: inline-block;
  min-width: 9rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #000;
  margin-right: 2rem;
}
.board-layout__view .attProgram-wrap__box--right .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2.2rem;
}
.board-layout__view .attProgram-wrap__box--right .link-wrap .linkMove {
  display: block;
  border: 1px solid #0066cc;
  font-size: 1.6rem;
  font-weight: 300;
  color: #0066cc;
  background: #fff;
}
.board-layout__view .attProgram-wrap__box--right .link-wrap .linkMove + .linkMove {
  margin-left: 0.4rem;
}
.board-layout__view .attProgram-wrap__box--right .link-wrap .linkMove--01 {
  padding: 1.2rem 2rem;
}
.board-layout__view .attProgram-wrap__box--right .link-wrap .linkMove--02 {
  padding: 1.2rem 1.2rem;
}

.sub-container.thisYear__video .pagination-wrap {
  margin-top: 3.5rem;
}
.sub-container.thisYear__video .board-layout__list-gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem 3rem;
  gap: 3rem 3rem;
}
.sub-container.thisYear__video .board-layout__list-gallery .gallery-link__img {
  height: 20.1rem;
}
.sub-container.thisYear__video .board-layout__list-gallery .gallery-link__img + .gallery-link__data {
  margin: 0;
}
.sub-container.thisYear__video .sub-mainTit + .board-layout {
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.sub-container.thisYear__video .gallery-link {
  position: relative;
}
.sub-container.thisYear__video .gallery-link__img {
  display: block;
}
.sub-container.thisYear__video .gallery-link__img img {
  width: 100%;
}
.sub-container.thisYear__video .gallery-link__data {
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sub-container.thisYear__video .gallery-link__data .tit {
  display: block;
  margin: 0 auto;
  max-width: 22rem;
  font-size: 2rem;
  font-weight: 500;
  color: #fff;
  line-height: 3rem;
}
.sub-container.thisYear__video .gallery-link__data .tit + .creDate {
  margin-top: 1rem;
}
.sub-container.thisYear__video .gallery-link__data .creDate {
  display: block;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.8);
}
.sub-container.thisYear__program .pagination-wrap {
  margin-top: 3.5rem;
}
.sub-container.thisYear__program .subContent-wrap {
  padding-bottom: 8rem;
}
.sub-container.thisYear__program--exhi .board-detail + .explan-wrap {
  margin-top: 4rem;
}
.sub-container.thisYear__program--exhi .board-layout__view .board-detail {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin: 0 auto;
}
.sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover {
  display: block;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  margin: 0 auto;
}
.sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover img {
  width: 100%;
}
.sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover + .board-detail__cover-refer {
  margin-top: 0.6rem;
}
.sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover-refer {
  font-size: 1.4rem;
  font-weight: 300;
  color: #7d7d7d;
  line-height: 2.7rem;
  text-align: left;
}
.sub-container.thisYear__program .sub-mainTit + .board-layout {
  margin-top: 5rem;
}
.sub-container.thisYear__program .board-layout + .btn-wrap {
  margin-top: 5rem;
}
.sub-container.thisYear__program .attProgram-wrap__box--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.thisYear__program .explan-info li {
  line-height: 3.4rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.sub-container.thisYear__program .explan-info li span {
  margin-right: 3rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}
.sub-container.thisYear__program .explan-info + .explan-box--txt {
  margin-top: 3rem;
}
.sub-container.thisYear__program .explan-wrap__box-inner {
  background: #F8F8F8;
  padding: 4rem 6rem;
}
.sub-container.thisYear__program .explan-wrap__box-inner .explan-box--tit {
  line-height: 4.4rem;
  font-size: 3rem;
  font-weight: 500;
  color: #000;
}
.sub-container.thisYear__program .explan-wrap__box-inner .explan-box--tit + .explan-info {
  margin-top: 2.2rem;
}
.sub-container.thisYear__program .explan-wrap__box-inner .explan-box--tit + .explan-box--txt {
  margin-top: 2.4rem;
}
.sub-container.thisYear__program .explan-wrap__box-inner .explan-box--txt {
  line-height: 3.1rem;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.sub-container.thisYear__program .board-layout.timeLine {
  margin-top: 5rem;
}
.sub-container.thisYear__program .board-layout.timeLine .board-tab__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sub-container.thisYear__program .board-layout.timeLine .board-tab__list li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.sub-container.thisYear__program .board-layout.timeLine .board-tab-selector + .board-tab-content {
  margin-top: 5rem;
}
.sub-container.thisYear__program .board-layout.timeLine .board-tab__link {
  padding: 1.8rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sub-container.thisYear__program .board-layout.timeLine .timeLine-all__item + .timeLine-all__item {
  margin-top: 5rem;
}
.sub-container.thisYear__program .board-layout.timeLine .timeLine-all__item--square {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #000;
}
.sub-container.thisYear__program .board-layout.timeLine .timeLine-all__item--content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2rem;
  border: 1px solid #ebebeb;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item + .other-all__item {
  margin-top: 1rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--left {
  width: 56rem;
  margin-right: 6rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--left .cover {
  display: block;
  width: 100%;
  height: 100%;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--left .cover img {
  width: 100%;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right {
  width: calc(100% - 62rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .link-wrap a {
  display: block;
  padding: 0.8rem 3rem;
  color: #0066cc;
  border: 1px solid #0066cc;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #0066cc;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--tit {
  font-size: 2.6rem;
  font-weight: 400;
  color: #000;
  line-height: 3.8rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--tit + .other-box--data {
  margin-top: 2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--txt {
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  line-height: 3rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--txt + .other-box--data {
  margin-top: 2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--data {
  line-height: 3.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #666;
}
.sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--data + .link-wrap {
  margin-top: 3.4rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box__inner {
  display: grid;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  grid-template-rows: 3.6rem -webkit-max-content;
  grid-template-rows: 3.6rem max-content;
  grid-template-columns: 75.7rem -webkit-max-content;
  grid-template-columns: 75.7rem max-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.4rem 0;
  border-bottom: 1px solid #ebebeb;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 61.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  grid-column: 2/3;
  grid-row: 1/3;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list li {
  width: 19.8rem;
  height: 13.2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list li + li {
  margin-left: 0.6rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list li:nth-child(n+4) {
  margin-top: 0.6rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list li:nth-child(3n+1) {
  margin-left: 0;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list .cover {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: unset;
  display: block;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list .cover::after {
  position: absolute;
  content: "";
  display: block;
  bottom: 0;
  height: 7.5rem;
  width: 100%;
  opacity: 0.6;
  cursor: unset;
  background: rgb(0, 0, 0);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgb(0, 0, 0)));
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 100%);
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list .cover img {
  width: 100%;
  height: 100%;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .hourProgram-picture-list .cover .name {
  position: absolute;
  bottom: 1rem;
  z-index: 2;
  width: 100%;
  text-align: center;
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box-tit {
  font-size: 2.4rem;
  font-weight: 400;
  color: #000;
  grid-column: 1/2;
  line-height: 3.6rem;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box-tit + .link-wrap {
  margin-top: 2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-column: 1/2;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .link-wrap .linkMove {
  font-size: 1.6rem;
  font-weight: 300;
  color: #0066cc;
  border: 1px solid #0066cc;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .link-wrap .linkMove--01 {
  padding: 1.2rem 2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .link-wrap .linkMove--02 {
  padding: 1.2rem 1.2rem;
}
.sub-container.thisYear__program .board-layout.timeLine .hourProgram-box .link-wrap .linkMove + .linkMove {
  margin-left: 0.4rem;
}
.sub-container.thisYear__topic {
  background: #f8f8f8;
}
.sub-container.thisYear__topic .sub-mainTit + .poster-wrap {
  margin-top: 5rem;
  padding-bottom: 8rem;
}
.sub-container.thisYear__topic .txt-wrap {
  height: 113.8rem;
}
.sub-container.thisYear__topic .poster-img {
  position: sticky;
  top: 5rem;
  width: 57.2rem;
  height: 80.9rem;
}
.sub-container.thisYear__topic .txt-wrap {
  width: 100%;
}
.sub-container.thisYear__topic .txt-wrap .y-scroll {
  width: 100%;
  margin-top: 3.4rem;
}
.sub-container.thisYear__topic .txt-wrap .y-scroll + .poster-info {
  margin-top: 3rem;
}
.sub-container.thisYear__topic .txt-wrap .y-scroll .simplebar-content {
  display: block;
  padding-right: 4rem !important;
}
.sub-container.thisYear__topic .txt-wrap .y-scroll .simplebar-wrapper {
  height: 64rem;
}
.sub-container.thisYear__topic .txt-wrap .y-scroll .simplebar-content {
  width: 100%;
}
.sub-container.thisYear__author .subContent-wrap {
  padding-bottom: 8rem;
}
.sub-container.thisYear__author .board-layout {
  margin-top: 5rem;
}
.sub-container.thisYear__author .board-layout + .btn-wrap {
  margin-top: 5rem;
}
.sub-container.thisYear__author .board-tab-selector {
  max-width: 113rem;
}
.sub-container.thisYear__author .board-tab-selector + .board-tab-content {
  margin-top: 5rem;
}
.sub-container.thisYear__author .board-tab-selector + .sch-wrap {
  margin-top: 5rem;
}
.sub-container.thisYear__author .sch-wrap + .board-tab-content {
  margin-top: 2.4rem;
}
.sub-container.thisYear__author .board-tab__link {
  padding: 1.8rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sub-container.thisYear.noOpen .noOpen-area {
  padding: 16.7rem 0 17.4rem;
}
.sub-container.thisYear.noOpen .noOpen-img {
  width: 34.806rem;
  display: block;
  margin: 0 auto;
}
.sub-container.thisYear.noOpen .noOpen-img img {
  width: 100%;
}
.sub-container.thisYear.noOpen .noOpen-txt {
  margin-top: 4.946rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  color: #7d7d7d;
}
.sub-container.thisYear .subContent-wrap {
  width: 140rem;
  max-width: 100%;
  margin: 0 auto;
}
.sub-container.thisYear .poster-img .img {
  width: 57.2rem;
  display: block;
}
.sub-container.thisYear .poster-img .img img {
  width: 100%;
}
.sub-container.thisYear .poster-wrap {
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.sub-container.thisYear .poster-info li {
  line-height: 3.2rem;
  font-size: 1.8rem;
  font-weight: 400;
  color: #000;
}
.sub-container.thisYear .poster-info li span {
  width: 9rem;
  display: inline-block;
  margin-right: 1.4rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #0066cc;
}
.sub-container.thisYear .txt-wrap {
  background: #fff;
  padding: 6.4rem 4.9rem 6.4rem 6.4rem;
  margin-left: 2rem;
}
.sub-container.thisYear .txt-wrap .sub-tit {
  line-height: 2.4rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #0066cc;
}
.sub-container.thisYear .txt-wrap .sub-tit + .tit {
  margin-top: 2.8rem;
}
.sub-container.thisYear .txt-wrap .tit {
  line-height: 5.2rem;
  font-size: 4rem;
  font-weight: 600;
  color: #000;
}
.sub-container.thisYear .txt-wrap .tit + .txt-zip {
  margin-top: 3.4rem;
}
.sub-container.thisYear .txt-wrap .txt-zip .txt {
  text-align: left;
  display: block;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
  line-height: 3.2rem;
}
.sub-container.thisYear .txt-wrap .txt-zip .txt + .txt {
  margin-top: 3rem;
}
.sub-container.thisYear .txt-wrap .txt-zip + .poster-info {
  margin-top: 4rem;
}
.sub-container.thisYear .txt-wrap .logo {
  width: 26.5rem;
  display: block;
  margin: 0 auto;
}
.sub-container.thisYear .txt-wrap .logo + .txt {
  margin-top: 4rem;
}
.sub-container.thisYear .txt-wrap .logo img {
  width: 100%;
}
.sub-container.thisYear .txt-wrap .txt {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  color: #000;
  line-height: 3.6rem;
}
.sub-container.thisYear .txt-wrap + .stat-box {
  margin-top: 12rem;
}

.stat-box {
  position: relative;
  height: 42.2rem;
}
.stat-box__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem 0rem;
  gap: 0rem 0rem;
  height: 100%;
  width: calc(100% - 45.3rem);
  margin-left: auto;
  padding: 3rem 0;
  margin-right: 17.4rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}
.stat-box__list .stat-tit {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 300;
  color: #000;
}
.stat-box__list .stat-tit + .stat-content {
  margin-top: 3rem;
}
.stat-box__list .stat-content .number {
  font-size: 6rem;
  font-weight: 600;
  color: #0066cc;
}
.stat-box__list .stat-content .unit {
  margin-left: 0.8rem;
  font-size: 1.6rem;
  font-weight: 300;
  color: #7d7d7d;
}
.stat-box .left,
.stat-box .right {
  position: absolute;
}
.stat-box .left {
  width: 45.3rem;
  height: 30rem;
  left: 0;
  background: #0066cc;
  display: -webkit-box;
  display: flex;
  -ms-display: flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 6rem;
  z-index: 1;
}
.stat-box .left .tit {
  font-size: 3.6rem;
  font-weight: 600;
  color: #fff;
  line-height: 5.2rem;
}
.stat-box .left .tit + .txt {
  margin-top: 1rem;
}
.stat-box .left .txt {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.36);
}
.stat-box .right {
  width: 116.3rem;
  height: 39.2rem;
  top: 3rem;
  right: 0;
  background: #f8f8f8;
  z-index: 0;
}

/* 소통마당 > Q&A */
.ui-text .list-dot li {
  position: relative;
  padding-left: 8px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 3rem;
}
.ui-text .list-dot li::before {
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  margin-right: 5px;
  font-size: 1.6rem;
  font-weight: 300;
  content: " · ";
}

.ui-form + .ui-text {
  margin-top: 1.5rem;
}

.sub-item__tit {
  font-size: 3.6rem;
  font-weight: 500;
  text-align: center;
}

.certi-wrap__inner {
  padding: 6rem;
  background: #f8f8f8;
}
.certi-img img {
  display: block;
  width: 9.7rem;
  height: 9.7rem;
  margin: 5rem auto;
}
.certi-text {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 3.2rem;
  text-align: center;
}

@media (max-width: 1280px) {
  .board-table__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .board-table__bottom .btn-wrap--absolute {
    position: relative;
    top: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .board-table__bottom .pagination-wrap {
    margin-top: 2rem;
  }
}
@media (max-width: 768px) {
  .subVisual--talk {
    background-image: url("../image/sub/img-subVisual--04_m.png");
    background-position: center 0;
  }
  .certi-wrap__inner {
    padding: 3rem;
    padding-top: 3.5rem;
  }
  .certi-text {
    font-size: 14px;
    word-break: keep-all;
  }
  .certi-text br {
    display: none;
  }
  .certi-img img {
    margin: 20px auto;
  }
}
@media (min-width: 1025px) {
  .sub-container.thisYear__video .gallery-link:hover .gallery-link__data {
    opacity: 1;
  }
}
@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.thisYear .txt-wrap .txt-zip + .poster-info {
    padding-bottom: 6rem;
  }
  .sub-container.thisYear .sub-mainTit + .board-layout {
    margin-top: 5rem;
  }
  .sub-container.thisYear .subContent-wrap {
    padding: 0 4rem 12rem;
  }
  .sub-container.thisYear .board-layout {
    margin-bottom: 0;
    margin-top: 8rem;
  }
  .sub-container.thisYear .board-layout.d-flex {
    padding: 0;
    margin-bottom: 0;
  }
  .sub-container.thisYear__author .explan-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.thisYear__author .explan-wrap .explan-wrap__refer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sub-container.thisYear__author .explan-wrap__box--left {
    padding-bottom: 2rem;
  }
  .sub-container.thisYear__author .explan-wrap__box--left + .explan-wrap__box--right {
    margin-top: 2rem;
  }
  .sub-container.thisYear__author .explan-wrap__box--left .cover + .explan-wrap__refer {
    bottom: -1rem;
    font-size: 2.2rem;
  }
  .sub-container.thisYear__author .explan-box--data .name {
    font-size: 2.8rem;
    padding-right: 0.6rem;
  }
  .sub-container.thisYear__author .explan-box--data .job {
    font-size: 2rem;
    padding: 0 1rem 0 1.6rem;
  }
  .sub-container.thisYear__author .explan-box--data .country {
    font-size: 2rem;
    padding: 0 1rem 0 1.6rem;
  }
  .sub-container.thisYear__author .explan-box--txt {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .sub-container.thisYear__author .board-layout__view .attProgram-wrap__box--right .attProgram-wrap--tit {
    font-size: 3.4rem;
    line-height: 5rem;
    padding-bottom: 3rem;
  }
  .sub-container.thisYear__author .board-layout__view .attProgram-wrap__box--right .attProgram-wrap--tit + .attProgram-info {
    margin-top: 4rem;
    padding-bottom: 4rem;
  }
  .sub-container.thisYear__author .board-layout__view .attProgram-wrap__box--right .link-wrap .linkMove {
    padding: 3rem;
    line-height: 2.8rem;
    font-size: 2.8rem;
    text-align: center;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .sub-container.thisYear__author .board-layout__view .explan-wrap__box--right .link-wrap a {
    font-size: 2.8rem;
    padding: 3rem;
    width: 100%;
    text-align: center;
  }
  .sub-container.thisYear__program .board-layout + .btn-wrap {
    margin-top: 8rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item {
    padding: 3.4rem 3.4rem 5rem 3.4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.thisYear__program .explan-info li {
    font-size: 2.6rem;
  }
  .sub-container.thisYear__program .explan-info li + li {
    margin-top: 1rem;
  }
  .sub-container.thisYear__program .explan-info li span {
    font-size: 2.6rem;
    min-width: 15rem;
    margin-right: 1rem;
  }
  .sub-container.thisYear__program--exhi .board-layout__view .board-detail {
    width: 100%;
  }
  .sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .sub-container.thisYear__program--exhi .board-layout__view .board-detail__cover .board-detail__cover-refer {
    font-size: 2.2rem;
    height: 3rem;
    margin-top: 1rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .board-tab__link {
    font-size: 2.8rem;
    line-height: 4.1rem;
    padding: 2.4rem 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .board-tab__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container.thisYear__program .board-layout.timeLine .board-tab__list li {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    width: 25%;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--left {
    width: 100%;
    margin-right: 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right {
    width: 100%;
    margin-top: 4rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--tit {
    line-height: 4.6rem;
    font-size: 3.4rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--tit + .other-box--txt {
    margin-top: 3rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--txt {
    font-size: 2.6rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--txt + .other-box--data {
    margin-top: 3rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--data {
    font-size: 2.2rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .other-box--data + .link-wrap {
    margin-top: 5rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .other-all__item--right .link-wrap a {
    font-size: 2.8rem;
    line-height: 2.8rem;
    padding: 3rem;
    width: 100%;
    text-align: center;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all__item + .timeLine-all__item {
    margin-top: 8rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .timeLine-all__item--square {
    font-size: 2.8rem;
    text-align: left;
    padding-bottom: 3rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box__inner {
    grid-template-columns: auto auto;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .hourProgram-picture-list {
    grid-row: 2/3;
    grid-column: 1/3;
    width: 100%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 4.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.6rem;
    gap: 0.6rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .hourProgram-picture-list li {
    width: 100%;
    height: auto;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .hourProgram-picture-list li + li {
    margin-left: 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .hourProgram-picture-list .cover .name {
    bottom: 1.5rem;
    font-size: 2.2rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .link-wrap .linkMove {
    font-size: 2.8rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    text-align: center;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .link-wrap .linkMove--01 {
    padding: 3rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box .link-wrap .linkMove--02 {
    padding: 3rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box-tit {
    text-align: left;
    font-size: 3.2rem;
    grid-column: 1/3;
    grid-row: 1/2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box-tit + .link-wrap {
    grid-row: 3/4;
    grid-column: 1/3;
    margin-top: 3.5rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box--left {
    width: 100%;
    margin: 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box--right {
    position: absolute;
    margin: 8rem auto 0;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box--right .hourProgram-picture-list {
    width: 100%;
    margin-bottom: -1rem;
    display: grid;
    grid-gap: 1rem;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box--right .hourProgram-picture-list li {
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 1rem;
  }
  .sub-container.thisYear__program .board-layout.timeLine .timeLine-all .hourProgram-box--right .hourProgram-picture-list .cover .name {
    font-size: 2.2rem;
  }
  .sub-container.thisYear__program .sch-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container.thisYear__program .sch-form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    width: 100%;
    height: 8.4rem;
  }
  .sub-container.thisYear__program .sch-form .sch-form__label {
    width: 100%;
  }
  .sub-container.thisYear__program .sch-form .sch-form__btn {
    width: 4.052rem;
    margin-right: 3rem;
    background-size: 4.052rem;
  }
  .sub-container.thisYear__program .explan-wrap__box-inner .explan-box--tit {
    font-size: 3.4rem;
    line-height: 5.8rem;
  }
  .sub-container.thisYear__program .explan-wrap__box-inner .explan-box--txt {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .sub-container.thisYear__video .pagination-wrap {
    margin-top: 4.5rem;
  }
  .sub-container.thisYear__video .board-layout__list-gallery {
    grid-template-columns: repeat(1, 1fr);
    gap: 4rem;
    grid-gap: 4rem;
  }
  .sub-container.thisYear__video .board-layout__list-gallery .gallery-link__img {
    height: auto;
  }
  .sub-container.thisYear__video .board-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li:nth-child(1) {
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li:nth-child(2) {
    border-top: 1px solid #ebebeb;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li:nth-child(3) {
    border-left: 1px solid #ebebeb;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb + .board-layout__list {
    margin-top: 5rem;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li {
    float: left;
    margin: 0;
    width: 50%;
    border: none;
    border-right: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li.active {
    border: 1px solid #0066cc;
  }
  .sub-container.thisYear__video .board-layout .board-layout__lnb li a {
    width: 100%;
    font-size: 2.8rem;
    line-height: 4.1rem;
    padding: 2.4rem 0;
  }
  .sub-container.thisYear__author .board-layout + .btn-wrap {
    margin-top: 8rem;
  }
  .sub-container.thisYear__author .sch-wrap + .board-tab-content {
    margin-top: 5rem;
  }
  .sub-container.thisYear__author .explan-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.thisYear__author .explan-wrap .explan-wrap__refer {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .sub-container.thisYear__author .explan-wrap__box--left {
    padding-bottom: 3rem;
  }
  .sub-container.thisYear__author .explan-wrap__box--left + .explan-wrap__box--right {
    margin-top: 5rem;
  }
  .sub-container.thisYear__author .explan-wrap__box--left .cover + .explan-wrap__refer {
    bottom: -1rem;
    font-size: 2.2rem;
    left: 0;
  }
  .sub-container.thisYear__author .explan-wrap__box--right {
    padding: 6rem;
  }
  .sub-container.thisYear__author .board-layout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .sub-container.thisYear__author .board-layout .board-layout__lnb {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    width: 100%;
  }
  .sub-container.thisYear__author .board-layout .board-layout__lnb + .board-layout__list {
    margin-top: 5rem;
  }
  .sub-container.thisYear__author .board-layout .board-layout__lnb li {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .sub-container.thisYear__author .board-layout .board-layout__lnb li a {
    width: 100%;
    font-size: 2.8rem;
    line-height: 4.1rem;
    padding: 2.4rem 0;
  }
  .sub-container.thisYear__author .board-layout .board-layout__lnb li + li {
    margin-top: 0;
  }
  .sub-container.thisYear .poster-info li {
    font-size: 2.6rem;
  }
  .sub-container.thisYear .poster-info li + li {
    margin-top: 2rem;
  }
  .sub-container.thisYear .poster-info li span {
    width: 12rem;
    font-size: 2.6rem;
  }
  .sub-container.thisYear .txt-wrap {
    margin: 0;
    padding: 6rem 3.4rem 0 3.4rem;
  }
  .sub-container.thisYear .txt-wrap .y-scroll + .poster-info {
    margin-top: 5rem;
  }
  .sub-container.thisYear .txt-wrap .sub-tit {
    font-size: 2.6rem;
  }
  .sub-container.thisYear .txt-wrap .tit {
    font-size: 5rem;
  }
  .sub-container.thisYear .txt-wrap .tit + .txt-zip {
    margin-top: 5rem;
  }
  .sub-container.thisYear .txt-wrap .txt-zip .txt {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  .sub-container.thisYear .txt-wrap .txt-zip .txt br {
    display: none;
  }
  .sub-container.thisYear__topic .txt-wrap {
    height: auto;
    margin-top: 4rem;
  }
  .sub-container.thisYear__topic .sub-mainTit + .poster-wrap {
    padding: 0;
    margin-top: 5rem;
  }
  .sub-container.thisYear__topic .poster-wrap {
    padding: 0 4rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sub-container.thisYear__topic .poster-img {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: unset;
    height: auto;
  }
  .sub-container.thisYear__topic .poster-img .img {
    width: 100%;
  }
  .board-layout__view .attProgram-wrap .sub-sec__tit {
    font-size: 3.8rem;
  }
  .board-layout__view .attProgram-wrap__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .board-layout__view .attProgram-wrap__refer {
    font-size: 2.2rem;
  }
  .board-layout__view .attProgram-wrap__box--left {
    width: 100%;
    margin-right: 2rem;
  }
  .board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .name {
    font-size: 2.2rem;
  }
  .board-layout__view .attProgram-wrap__box--left .accordion-wrap__item .attProgram-wrap__refer {
    word-break: break-all;
    bottom: -1rem;
    font-size: 2.2rem;
    left: 0;
    height: 3rem;
    position: absolute;
  }
  .board-layout__view .attProgram-wrap__box--left .accordion-wrap__item.on {
    width: 55%;
  }
  .board-layout__view .attProgram-wrap__box--right {
    width: 100%;
    margin-top: 6rem;
  }
  .board-layout__view .attProgram-wrap__box--right .attProgram-info li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .board-layout__view .attProgram-wrap__box--right .attProgram-info li + li {
    margin-top: 2rem;
  }
  .board-layout__view .attProgram-wrap__box--right .attProgram-info li span {
    font-size: 2.6rem;
    min-width: 15rem;
  }
  .board-layout__view .explan-wrap__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .board-layout__view .explan-wrap__box-inner {
    padding: 6rem;
  }
  .board-layout__view .explan-wrap__box .cover {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .board-layout__view .explan-wrap__box .cover img {
    width: 100%;
    display: block;
  }
  .board-layout__view .explan-wrap__box--left {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .board-layout__list-gallery {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.6rem 1rem;
    grid-gap: 4.6rem 1rem;
  }
  .board-layout__list-gallery .gallery-link__data .name {
    font-size: 2.8rem;
  }
  .board-layout__list-gallery .gallery-link__data .job {
    font-size: 2rem;
    padding: 0 1rem;
    margin: 0 1.5rem;
  }
  .board-layout__list-gallery .gallery-link__data .country {
    font-size: 2rem;
  }
  .subVisual--dataBook {
    background-image: url("../image/sub/mo-img-subVisual--dataBook.jpg");
    background-position: center;
  }
}