.sub-container.search h2.sub-tit + .sch-wrap {
  margin-top: 6rem;
}
.sub-container.search .sch-result__txt br {
  display: none;
}
.sub-container.search .sch-result__txt .txt br {
  display: block;
}
.sub-container.search .sch-result__item-wrap + .pagination-wrap {
  margin-top: 6rem;
}
.sub-container.search .sch-bar.sub {
  margin-left: 0.6rem;
}
.sub-container.search .sch-result__item + .sch-result__item {
  margin-top: 6rem;
}
.sub-container.search .sch-result__item-top {
  padding-bottom: 1.6rem;
  border-bottom: 1px solid #dedede;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sub-container.search .sch-result__item-top .tit {
  color: #111;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 150%;
}
.sub-container.search .sch-result__item-top .tit span {
  color: #111;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%;
  margin-left: 0.5rem;
}
.sub-container.search .sch-result__item-top .tit span .count {
  color: #009e71;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 150%;
}
.sub-container.search .sch-result__item-list {
  padding-top: 2.4rem;
}
.sub-container.search .sch-result__item-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sub-container.search .sch-result__item-list li + li {
  margin-top: 2.4rem;
}
.sub-container.search .sch-result__item-list .tit {
  color: #111;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 85.8rem;
}
.sub-container.search .sch-result__item-list .tit .keyword {
  color: #009e71;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 150%;
}
.sub-container.search .sch-result__item-list .date {
  color: #585858;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 150%;
}
.sub-container.search .sch-result__item .linkMove {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 150%;
  color: #585858;
}
.sub-container.search .sch-result__item .linkMove::after {
  margin-left: 0.8rem;
  content: "";
  background: url(../image/sub/icon-linkMove.svg) no-repeat center/contain;
  width: 0.8rem;
  height: 1.2rem;
  display: block;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .sub-container.search h2.sub-tit + .sch-wrap {
    margin-top: 4rem;
  }
  .sub-container.search .sch-result__item-list li + li {
    margin-top: 1rem;
  }
  .sub-container.search .sch-result__item-list .tit {
    width: 100%;
  }
  .sub-container.search .sch-result__item-list .date {
    display: none;
  }
  .sub-container.search .sch-result__txt br {
    display: block;
  }
  .sub-container.search .sch-result__item-wrap + .pagination-wrap {
    margin-top: 3rem;
  }
  .sub-container.search .sch-result__item + .sch-result__item {
    margin-top: 3rem;
  }
  .sub-container.search .sch-result__item .linkMove {
    font-size: 1.3rem;
  }
  .sub-container.search .sch-result__item .linkMove::after {
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 0.7rem;
  }
  .sub-container.search .sch-result__item-list {
    padding-top: 1.4rem;
  }
  .sub-container.search .sch-result__item-top {
    padding-bottom: 1rem;
  }
  .sub-container.search .sch-result__item-top .tit {
    font-size: 1.8rem;
  }
  .sub-container.search .sch-result__item-top .tit span {
    font-size: 1.4rem;
  }
  .sub-container.search .sch-result__item-top .tit span .count {
    font-size: 1.4rem;
  }
  .sub-container.search .sch-wrap .custom-select.w-120 {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 max-content;
            flex: 1 1 max-content;
  }
  .sub-container.search .sch-wrap .custom-select + .sch-bar {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 max-content;
            flex: 1 1 max-content;
  }
  .sub-container.policy .content-detail {
    padding-bottom: 183.337%;
  }
  .sub-container.policy .content-detail::after {
    background: url("../image/sub/policy-mo.svg") no-repeat right center/cover;
  }
  .sub-container.policy .content-detail .txt-wrap {
    left: 50%;
    top: 7.5%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 100%;
  }
  .sub-container.policy .content-detail .txt-wrap .tit {
    text-align: center;
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .sub-container.policy .content-detail .txt-wrap .tit span {
    font-size: 3rem;
    line-height: 3.9rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt {
    text-align: center;
    font-size: 1.4rem;
    margin-top: 6%;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span {
    font-size: 1.4rem;
    line-height: 2.52rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span em {
    font-size: 1.4rem;
    line-height: 2.52rem;
  }
  .sub-container.policy .content-detail .txt-wrap .txt span em::before {
    height: 0.8rem;
  }
}