.subContent__inner {
  max-width: 1400px;
  margin: 0 auto;
}

.subVisual {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 31.5rem;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.subVisual__cate {
  position: absolute;
  right: 0;
  width: 35%;
  height: 100%;
  background: rgba(65, 80, 94, 0.28);
  border-left: 1px solid rgba(255, 255, 255, 0.28);
  -webkit-backdrop-filter: blur(3px);
  display: grid;
  backdrop-filter: blur(3px);
  grid-template-rows: 56% auto;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.subVisual__cate > * {
  margin-left: 8rem;
}
.subVisual__tit {
  color: #FFF;
  font-size: 4.4rem;
  font-weight: 600;
  grid-row: 1/2;
  grid-column: 1/2;
}
.subVisual__crumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  grid-row: 2/3;
  grid-column: 1/2;
  margin-bottom: 4rem;
}
.subVisual__crumb li {
  position: relative;
  padding-left: 3rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #fff;
}
.subVisual__crumb li + li {
  background-image: url("../image/common/icon/icon_clampRight.png");
  background-repeat: no-repeat;
  background-position: 12px center;
  background-size: 0.7rem 1.1rem;
}
.subVisual__crumb li + li::before {
  display: inline-block;
  content: "";
}
.subVisual__crumb li:first-child {
  padding-left: 0;
}

.subContent-wrap {
  margin-top: 7rem;
  margin-bottom: 10rem;
}
.subContent-wrap.list .subContent__tit {
  font-size: 3.6rem;
  font-weight: 600;
  color: #6d6e67;
}
.subContent__tit {
  font-size: 4.4rem;
  font-weight: 600;
  text-align: center;
}
.subContent__tit2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.subTab .tab-link a {
  height: 7rem;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #aaa;
  font-size: 2rem;
  font-weight: 400;
  color: #a7a7a7;
  background-color: #fff;
  position: relative;
}
.subTab .tab-link a:before {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  width: 0.1rem;
  height: 2.5rem;
  background-color: #ccc;
}
.subTab .tab-link a:first-child {
  border-left: 2px solid #aaa;
}
.subTab .tab-link a:last-child {
  border-right: 2px solid #aaa;
}
.subTab .tab-link a:last-child:before {
  display: none;
}
.subTab .tab-link a.active {
  color: #e54125;
  font-weight: 600;
}

@media (min-width: 320px) and (max-width: 1024px) {
  .subContent-wrap {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
  .subContent-wrap.list .subContent__tit {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 1.8rem;
  }
  .subVisual {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: 12.4rem;
  }
  .subVisual__tit {
    font-size: 2.2rem;
  }
  .subVisual__cate {
    grid-template-rows: 81% 19%;
  }
  .subVisual__cate > * {
    margin-left: 2rem;
  }
  .subVisual__crumb {
    margin-bottom: 2rem;
  }
  .subVisual__crumb li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem;
  }
  .subVisual__crumb li:first-child img {
    width: 0.9rem;
    height: 1rem;
  }
  .subVisual__crumb li + li {
    padding: 0 0 0 2.5rem;
    background-size: 0.4rem 0.8rem;
  }
  .subVisual {
    height: 240px;
    background-size: cover;
  }
  .subVisual__crumb li {
    font-size: 1.6rem;
  }
  .subVisual__crumb li:first-child img {
    width: 1.7rem;
  }
  .subVisual__crumb li + li {
    padding-left: 3rem;
    background-position: 1.2rem center;
    background-size: 0.7rem 1.1rem;
  }
  .subVisual__tit {
    margin-bottom: 2.9rem;
    font-size: 5.4rem;
  }
  .subTab .tab-link a {
    height: 4.7rem;
    font-size: 1.6rem;
  }
  .subTab .tab-link a.active {
    background-size: 17.6rem 17.6rem;
  }
  .subContent__tit {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
  }
}/*# sourceMappingURL=subCommon.css.map */