@charset 'utf-8';
@import 'mixin';
@import './ux-common.scss';


*{
    box-sizing:border-box;
}

.ta{
    &-l{
        text-align:left;
    }
    &-c{
        text-align:center;
    }
    &-r{
        text-align:right;
    }
}
.m{
    &t{
        &-20{
            margin-top:20px;
        }
        &-30{
            margin-top:30px;
        }
        &-40{
            margin-top:40px;
        }
        &-50{
            margin-top:50px;
        }
        &-60{
            margin-top:60px;
        }
    }
}

header{
    display:flex;
    align-items:center;
    height:60px;
    padding:0 20px;
    border:1px solid #ddd;
    h1{
        font-size:20px;
        font-weight:600;
    }
}
.header{
    &__login{
       margin-left:auto;
        .login{
            &--user{
                display:flex;
                align-items:center;
                margin-right:20px;
            }
            &__name{
                font-size:14px;
                font-weight:500;
                color:#fff;
                span{
                    margin-left:5px;
                    font-size:14px;
                    font-weight:400;
                    color:#a4a9b6;
                }
            }
            &__btn{
                margin-left:20px;
                
            }
        }
    }

}
.el{
    &-tab{
        &-wrap{
            padding:0 20px;
        }
        &__inner{
            height: 100%;
        }
        &__link{
            height: 100%;
            border-bottom:1px solid #ddd;
            > ul{
                display:flex;
                align-items:flex-end;
                height: 100%;
                li{
                    position:relative;
                    display:flex;
                    align-items:center;
                    height: 100%;
                    &.is-open{
                        button{
                            font-weight:500;
                            color:#000;
                            &::before{
                                position:absolute;
                                bottom:0;
                                left:0;
                                width:100%;
                                height:3px;
                                background-color:#000;
                                content:""
                            }
                        }
                    }
                }
            }
            button{
                position:relative;
                display:flex;
                align-items:center;
                padding:10px 15px;
                font-size:18px;
                font-weight:400;
                color:#777;
            }
        }
        &__cont{
            display:none;
            padding:30px 20px;
            &.is-open{
                display:block;
            }
        }
        &__tit{
            font-size:20px;
            font-weight:600;
        }
    }
    &-link{
        &-wrap{
            margin-top:10px;
            padding-right:20px;
        }
        &--index{
            display:inline-block;
            padding:10px 15px;
            font-size:12px;
            font-weight:500;
            background-color:#042153;
            color:#fff;
            border-radius:3px;
        }
    }
    &-box{
        &-tip{
            padding:20px;
            font-size:14px;
            font-weight:400;
            color:#777;
            box-shadow:1px 1px 5px rgb(22 73 161 / 49%);
            background-color:#eef6ff;
            line-height:1.8;
            > strong{
                font-size:15px;
                font-weight:600;
                color:#005eff;
            }
        }
        &-tit{
            font-size:22px;
            font-weight:600;
        }
        &-tool{
            margin-left:auto;
            .box-tool__btn{
                margin-left:20px;
                &:first-child{margin-left:0;}
            }
        }
    }
    &-txt{
        margin-top:10px;
        padding:20px;
        font-size:15px;
        font-weight:400;
        color:#555;
    }
    &-code{
        &-wrap{
            overflow:hidden;
            margin-top:10px;
            background-color:#f9f9f9;
            border:1px solid #e5e5e5;
            .language-html{
                margin:0;
                margin-left:-250px;
                font-size:13px;
                color:#708090;
            }
        }
    }
    &-line{
        &--gray{
            display:block;
            width:100%;
            height:0;
            margin:20px 0;
        }
    }
    &-border{
        &--dashed{
            border-top:2px dashed #ccc;
        }
    }
}
.directory{
    &-tree{
        &-wrap{
            padding:15px;
            line-height:1.8;
            color:#000;
            border:1px dashed #ddd;
            font-size:13px;
        }
        &__folder{
            position:relative;
            padding-left:25px;
            background:url('../image/common/icon/icon-folder.png') no-repeat 5px 2px;
            background-size:17px 17px;
            &::before{
                position:absolute;
                top:28px;
                height:calc(100% - 28px);
                border-left:1px dashed #eee;
                content:""
            }

        }
        &__file{
            position:relative;
            margin-left:-5px;
            li{
                padding-left:25px;
                background:url('../image/common/icon/icon-file.png') no-repeat 5px 5px;
                background-size:15px 15px;
            }
        }
    }
}

.boxItem{
    &__reset{
        margin-left:auto;
        transform:rotate(0);
        &.fn-reset{
            transform:rotate(360deg);
            transition: all 1s ease(out-expo);
        }
    }
    &__tit{
        display:flex;
        flex-wrap:nowrap;
        font-size:16px;
        font-weight:500;
    }
}

.custom{
    &-sel{
        position:relative;
        display:flex;
        align-items:center;
        *{
            font-size:14px
        }
        &__btn{
            display:flex;
            align-items:center;
            padding:7px 10px;
            font-weight:600;
            width:100%;
            height:34px;
            border:1px solid #d5dde7;
            color:#333;
            span{
                font-weight:500;
            }
            img{
                margin-left:auto;
            }
        }
        &__list{
            position:absolute;
            top:33px;
            left:0;
            width:100%;
            height:auto;
            border:1px solid #d5dde7;
            border-top:none;
            z-index:1;
            li{
                padding:10px;
                background-color:#fff;
                cursor:pointer;
            }
        }
        &.is-open{
            .custom-sel__btn{
                border-bottom-color:#fff;
                transition: all 1s ease(out-expo);
                img{
                    transform:rotate(180deg);
                }
            }
        }
    }
}

@include media-breakpoint-up(n-xl){
}
@include media-breakpoint-down(n-xl){
    .content{
        &.lnb-open{
            .lnb-wrap{
                flex:0 0 200px;
            }
            .content__inner{
                flex:0 0 100%;
            }
        }
    }
}