.wrap {
    position: relative;
}

body {
    &.fixed {
        overflow: hidden;
        height: 100vh;
        background-color: #fff;

        .wrap {

            >div:not(header) {
                background: #fff;
            }

        }
    }
    &.overflow-hidden {
        .header {
            border-bottom: none;

            &.scrolled {
                background: none;
                backdrop-filter: unset;
            }

            .header__inner {
                display: none;
            }
        }
    }
}

.wrap {
    margin:0 auto;
    box-sizing: border-box;
    position: relative;
    width:100%;
    max-width:100%;
    overflow: hidden;
}
.container{
    width: 192rem;
    max-width: 100%;
    margin:0 auto;
    position: relative;
}
.header {
    margin: 0 auto;
    width: 192rem;
    max-width: 100%;
    background: transparent;
    height: auto;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99;
    height: 8.6rem;
    border-bottom: 1px solid rgba(255,255,255,10%);
    &__inner{
        display: flex;
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        height: 100%;
    }
}



.footer {
    margin:0 auto;
    background: #05020F;
    display: flex;
    justify-content: center;
    &__inner{
        /* height: 22rem; */
        width: 144rem;
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 8rem 0;
    }
}
.sub {
    &-container {
        width: 192rem;
        max-width: 100%;
        margin: 0 auto;
        position: relative;
    }

    &:after {
        display: none !important;
    }
}

.board-write {
    margin-top: 2.4rem;
    padding-top: 2.8rem;
    padding-bottom: 4rem;
    box-sizing: border-box;
    border-top: 2px solid #111111;
    border-bottom: 1px solid #A3A3A5;
}

@media (min-width: 1025px) {
    .side-menu {
        position: fixed;
        z-index: 99;
        right: 0;
        height: 100vh;
        width: 100%;
        top: 0;
        -webkit-transition: unset;
        transition: unset;
        display: none;
    }

}