@charset 'utf-8';
@import 'mixin';

//custom
/* ========== reponsive =========== */
/*
* xs: 576px,// Small screen / phone
* sm: 768px,// Medium screen / tablet
* md: 1024px,// Large screen / desktop
* lg: 1280px,// Extra large screen / wide desktop
* ml: 1400px,// middle screen
* xl: 1600px,
* up:min-width / down:max-width / only:(min-width,max-width)
*/
/*
html{
    @include mobileS{
        font-size:42.5%;
    }
    @include mobileL{
        font-size:47.5%;
    }
    @include tablet{
        font-size:55.5%;
    }
    @include labtop{
        font-size:62.5%;
    }
}
*/
// @media (max-width:1800px){
//     html, body{
//         font-size:calc(62.5% / 1.2);
//     }
// }
// @media (max-width:1500px){
//     html, body{
//         font-size:calc(62.5% / 1.6);
//     }
// }

@media (max-width:1200px){
    html, body{
        font-size:calc(62.5% / 1.2);
    }
}



/*mobile*/
@media (min-width:320px) and (max-width:1024px){
    html, body{
        font-size:calc(62.5% / 1.3);
    }
}
@media (min-width:360px) and (max-width:1024px){
    html, body{
        font-size:62.5%;
    }
}
@media (min-width: 480px) and (max-width: 1024px) {
    body, html {
      font-size: calc(62.5% * 1.3);
    }
}
@media (min-width: 720px) and (max-width: 1024px) {
    body, html {
      font-size: calc(62.5% * 1.8);
    }
}

@media (min-width: 1025px) and (max-width: 1200px) {
    body, html {
        font-size: calc(62.5% / 1.4);
    }
}

@media (min-width: 1200px) and (max-width: 1400px) {
    body, html {
        font-size: calc(62.5% / 1.2)
    }
}

