@charset 'utf-8';
@import 'mixin';
.sub-container{
    &.search{
        h2.sub-tit{
            & + .sch-wrap{
                margin-top: 6rem;
            }
        }
        .sch-result__txt{
            br{
                display: none;
            }
            .txt{
                br{
                    display: block;
                }
            }
        }
        .sch-result__item-wrap{
            & + .pagination-wrap{
                margin-top: 6rem;
            }
        }
        .sch-bar.sub{
            margin-left: 0.6rem;
        }
        .sch-result__item{
            & + .sch-result__item{
                margin-top: 6rem;
            }
            &-top{
                padding-bottom: 1.6rem;
                border-bottom: 1px solid #dedede;
                display: flex;
                align-items: center;
                justify-content: space-between;
                .tit{
                    color:#111;
                    font-size: 2.2rem;
                    font-weight: 500;
                    line-height: 150%;
                    
                    span{
                        color:#111;
                        font-weight: 400;
                        font-size: 1.6rem;
                        line-height: 150%;
                        margin-left: 0.5rem;
                        .count{
                            color:#009e71;
                            font-weight: 600;
                            font-size: 1.6rem;
                            line-height: 150%;
                        }
                    }
                }
            }
            &-list{
                padding-top:2.4rem;
                li{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    & + li{
                        margin-top: 2.4rem;
                    }
                }
                .tit{
                    color:#111;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 150%;
                    @include ellipsis(1);
                    width: 85.8rem;
                    .keyword{
                        color:#009e71;
                        font-weight: 500;
                        font-size: 1.6rem;
                        line-height: 150%;
                    }
                }
                .date{
                    color:#585858;
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 150%;
                }
            }
            .linkMove{
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 150%;
                color:#585858;
                &::after{
                    margin-left: 0.8rem;
                    content:'';
                    background: url(../image/sub/icon-linkMove.svg) no-repeat center / contain;
                    width:0.8rem;
                    height: 1.2rem;
                    display: block;
                }
            }
        }
    }
}

@media (min-width:1025px){
    

}
@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.search{
            h2.sub-tit{
                & + .sch-wrap{
                    margin-top: 4rem;
                }
            }
            .sch-result__item-list{
                li{
                    & + li{
                        margin-top: 1rem;
                    }
                }
                .tit{
                    width:100%;
                }
                .date{
                    display: none;
                }
            }
            .sch-result__txt{
                br{
                    display: block;
                }
            }
            .sch-result__item-wrap{
                & + .pagination-wrap{
                    margin-top: 3rem;
                }
            }
            .sch-result__item{
                & + .sch-result__item{
                    margin-top: 3rem;
                }
                .linkMove{
                    font-size: 1.3rem;
                    &::after{
                        width: 0.8rem;
                        height: 0.8rem;
                        margin-left: 0.7rem;
                    }
                }
            }
            .sch-result__item-list{
                padding-top: 1.4rem;
            }
            .sch-result__item-top{
                padding-bottom: 1rem;
                .tit{
                    font-size: 1.8rem;
                    span{
                        font-size: 1.4rem;
                        .count{
                            font-size: 1.4rem;
                        }
                    }
                }
            }
            .subVisual-wrap{
                .subVisual{
                    img{
                        
                    }
                }
            }
            .sch-wrap{
                .custom-select{
                    &.w-120{
                        flex:1 1 max-content;
                    }
                    & + .sch-bar{
                        flex:1 1 max-content;
                    }
                }
            }
        }
        &.policy{
            
            .content-detail{
                padding-bottom: 183.337%;
                &::after{
                    background: url("../image/sub/policy-mo.svg") no-repeat right center/cover;
                }
                .txt-wrap{
                    left:50%;
                    top:7.5%;
                    transform: translateX(-50%);
                    width: 100%;
                    .tit{
                        text-align: center;
                        font-size: 3rem;
                        line-height: 3.9rem;
                        span{
                            font-size: 3rem;
                            line-height: 3.9rem;
                        }
                    }
                    .txt{
                        text-align: center;
                        font-size: 1.4rem;
                        margin-top: 6%;
                        span{
                            font-size: 1.4rem;
                            line-height: 2.52rem;
                            em{
                                font-size: 1.4rem;
                                line-height: 2.52rem;
                                &::before{
                                    height:0.8rem;
                                }
                            }
                        }
                        
                    }
                }
                
            }
        }
    }
}
