@charset 'utf-8';
@import 'mixin';
.sub-container{
    &.research{
        &.view{
            .subVisual-wrap{
                position: relative;
                .subVisual{
                    &::before{
                        position: absolute;
                        left:0;
                        top:0;
                        display: block;
                        width:100%;
                        height:100%;
                        background: rgba(0,0,0,40%);
                        z-index: 2;
                        content:'';
                    }
                }
            }
        }
        
        &.view{
            .subVisual-wrap{
            }
            .subVisual{
                position: relative;
                &::before{
                    position: absolute;
                    left: 0;
                    top: 0;
                    content: "";
                    width: 100%;
                    height: 100%;
                    display: block;
                    background: rgba(0, 0, 0, 40%);
                }
            }
            .breadcrumb-wrap{
                justify-content: unset;
                .date,
                .view{
                    margin-left: 4rem;
                    font-weight: 500;
                    font-size: 1.5rem;
                    color:#fff;
                    line-height: 160%;
                    display: flex;
                    align-items: center;
                }
                .view{
                    em{
                        font-weight: 500;
                        font-size: 1.5rem;
                        color:#fff;
                        line-height: 160%;
                        margin-left: 0.2rem;
                    }
                }
            }
            .breadcrumb-tit{
                text-align: left;
                &.upper{
                    color:#00E8A6;
                    font-size: 1.6rem;
                    font-weight: 500;
                    line-height: 150%;
                    margin-top: 12.6rem;
                }
                &.lower{
                    max-width: 110rem;
                    font-size: 3.8rem;
                    font-weight: 500;
                    line-height: 150%;
                    margin-top: 1.2rem;
                }
            }
            .profile{
                display: flex;
                align-items: center;
                & + .profile{
                    margin-left: 1.7rem;
                }
                span{
                    width:3.6rem;
                    height:3.6rem;
                    display: block;
                    border-radius: 999px;
                    overflow: hidden;
                    img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                    }
                }
                .name{
                    width:auto;
                    height:auto;
                    margin-left: 0.8rem;
                    font-weight: 500;
                    font-size: 1.6rem;
                    color:#fff;
                    line-height: 160%;
                    border-radius: 0;
                }
            }
        }
        .info{
            margin-top: 8rem;
            display:flex;
            width: max-content;
            .profile-wrap{
                display:flex;
            }
        }
       
        .other{
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            margin-top: 2.4rem;
            width:100%;
            .external{
                margin-left: auto;
                display: flex;
                li{
                    width:4.4rem;
                    height:4.4rem;
                    border-radius: 999px;
                    background: rgba(255,255,255,20%);
                    & + li{
                        margin-left: 0.6rem;
                    }
                }
            }
            .tag{
                
                li{
                    font-weight: 500;
                    font-size: 1.3rem;
                    color:#fff;
                    line-height: 160%;
                    background: rgba(255,255,255,20%);
                    border-radius: 999px;
                    height:max-content;
                    padding:0.4rem 1rem;
                    & + li{
                        margin-left: 0.6rem;
                    }
                }
            }
        }
        
        .board-detail__view-inner{
            .accordion{
                border-top:none;
                .txt{
                    padding:2.4rem 2.4rem 6.4rem 2.4rem;
                }
                
            }
        }
        
        &-topic{
            .gallery-link{
                cursor: default;
            }
        }
        &-topic{
            .content-gallery{
                grid-gap: 6rem 4rem;
                margin-top: 4rem;
                grid-template-columns: repeat(4,1fr);
                
                & + h3.sub-tit{
                    margin-top: 8rem;
                }
            }
            .img-wrap{
                position: relative;
                & + h3.sub-tit{
                    margin-top: 6rem;
                }
            }
            .txt-wrap{
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                left: 5rem;
                z-index: 3;
                .tit{
                    @include font(3.4,600,#fff);
                    line-height: 160%;
                }
                .txt{
                    margin-top: 1.6rem;
                    @include font(1.6,400,#fff);
                    line-height: 160%;
                    word-break: keep-all;
                    
                }
            }
        }
        &-public{
            .content-gallery{
                grid-gap: 6rem 4rem;
                margin-top: 4rem;
                grid-template-columns: repeat(4,1fr);
                
                & + h3.sub-tit{
                    margin-top: 8rem;
                }
            }
        }
        .breadcrumb__tit{
            color: #000;
            
            
        }
        .img-wrap{
            border-radius: 0.8rem;
            overflow: hidden;
            .img{
                &.pc{
                    display: block;
                }
                img{
                    width: 100%;
                }
            }
        }
        .content-detail{
            position: relative;
            width:100%;
            overflow: hidden;
            
            
        }
    }
}

@media (min-width:1025px){
    .sub-container.research.view{
        .subVisual-wrap{
        }
    }

}
@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.research{
            &.view{
                .sub-content__inner{
                    margin:2rem 0 8rem 0;
                }
                .board-detail__view-inner{
                    padding:0 0 3rem 0;
                    .accordion{
                        .txt{
                            padding:2rem;
                        }
                    }
                }
                .breadcrumb-wrap{
                    .upper{
                        margin-top: 10.4rem;
                    }
                    .info{
                        display: flex;
                        flex-wrap: wrap;
                        margin-top: 2.6rem;
                    }
                    .date,
                    .view{
                        display: inline-block;
                        margin-left: 0;
                        width:max-content;
                        margin-top: 2rem;
                        font-size: 1.3rem;
                        em{
                            font-size: 1.3rem;
                        }
                    }
                    .view{
                        margin-left: 1.6rem;
                    }
                    .profile-wrap{
                        width:100%;
                        span{
                            width:3.2rem;
                            height:3.2rem;
                        }
                        .name{
                            width:auto;
                            height:auto;
                            margin-left: 0.6rem;
                            font-size: 1.4rem;
                        }
                    }
                    .other{
                        margin-top: 2rem;
                        flex-direction: column;
                        align-items: flex-start;
                        .external{
                            margin-left: 0;
                            margin-top: 1rem;
                            li{
                                width:4rem;
                                height:4rem;
                            }
                        }
                        
                    }
                    .tag{
                        flex-wrap: wrap;
                        margin-right:-0.4rem;
                        margin-top:-0.4rem;
                        min-width: 30rem;
                        li{
                            padding:0.36rem 1rem;
                            margin-right: 0.4rem;
                            margin-top:0.4rem;
                            font-size: 1.3rem;
                            & + li{
                                margin-left: 0;
                            }
                        }
                    }
                }
                .profile{
                    & + .profile{
                        margin-left: 2rem;
                    }
                }
                .breadcrumb-tit{
                    &.upper{
                        font-size: 1.4rem;
                    }
                    &.lower{
                        margin-top: 1rem;
                        font-size: 2.6rem;
                    }
                }
            }
            &-topic{
                .content-gallery{
                    grid-template-columns: repeat(2,1fr);
                    grid-gap: 3rem 1rem;
                    gap: 3rem 1rem;
                    margin-top: 2rem;
                }
                .txt-wrap{
                    top:4rem;
                    left:3rem;
                    transform: unset;
                    padding-right: 3rem;
                    .tit{
                        font-size: 2.4rem;
                    }
                    .txt{
                        font-size: 1.4rem;
                        margin-top: 2rem;
                    }
                }
                .img-wrap{
                    & + h3.sub-tit{
                        margin-top: 4rem;
                    }
                }
            }
            .img-wrap{
                .img{
                    &.pc{
                        display: none;
                    }
                    &.mo{
                        display: block;
                        height: 0;
                        padding-bottom: 85.37%;
                        position: relative;
                        img{
                            position: absolute;
                            left:0;
                            top:0;
                            width:100%;
                            height:100%;
                            display: block;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
        &.policy{
            
            .content-detail{
                padding-bottom: 183.337%;
                &::after{
                    background: url("../image/sub/policy-mo.svg") no-repeat right center/cover;
                }
                .txt-wrap{
                    left:50%;
                    top:7.5%;
                    transform: translateX(-50%);
                    width: 100%;
                    .tit{
                        text-align: center;
                        font-size: 3rem;
                        line-height: 3.9rem;
                        span{
                            font-size: 3rem;
                            line-height: 3.9rem;
                        }
                    }
                    .txt{
                        text-align: center;
                        font-size: 1.4rem;
                        margin-top: 6%;
                        span{
                            font-size: 1.4rem;
                            line-height: 2.52rem;
                            em{
                                font-size: 1.4rem;
                                line-height: 2.52rem;
                                &::before{
                                    height:0.8rem;
                                }
                            }
                        }
                        
                    }
                }
                
            }
        }
    }
}
