@charset 'utf-8';
@import 'mixin';
.sub-container{
    &.intro{
        &-next{
            .content-layout{
                margin-top: 6rem;
            }
            .img-wrap{
                & + h3.sub-tit{
                    margin-top: 8rem;
                }    
            }
            h3.sub-tit{
                & + .block-4{
                    margin-top: 4rem;
                }
                & + .block-2x3{
                    margin-top: 4rem;
                }
                & + .block-3{
                    margin-top: 4rem;
                }
            }
            .content-detail{
                .block-4{
                    display:flex;
                    .txt-wrap{
                        left:50%;
                        top:24%;
                        transform: translateX(-50%);
                        .tit{
                            font-size:2.2rem;
                            color:#fff;
                            line-height: 150%;
                            font-weight: 600;
                        }
                        .tag{
                            margin-top: 5.7rem;
                            flex-direction: column;
                            align-items: center;
                            li{
                                width: max-content;
                                font-weight: 500;
                                font-size: 1.3rem;
                                line-height: 150%;
                                color:#d3ffe2;
                                justify-content: center;
                                border:1px solid #d3ffe2;
                                border-radius: 999px;
                                padding:0.4rem 1rem;
                                & + li{
                                    margin-top: 0.6rem;
                                }
                            }
                        }
                    }
                    .item{
                        & + .item{
                            margin-left: 2rem;
                        }
                    }
                    & + h3.sub-tit{
                        margin-top: 8rem;
                    }
                    
                }
                .block-3{
                    display: flex;
                    .item{
                        border:1px solid #dedede;
                        border-radius: 0.8rem;
                        overflow:hidden;
                        & + .item{
                            margin-left: 3.2rem;
                        }
                    }
                    .txt-wrap{
                        position: static;
                        transform: unset;
                        padding:4rem 4.6rem 4rem 4rem;
                        .sub-tit{
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 150%;
                            color:#585858;
                        }
                        .tit{
                            font-size: 1.8rem;
                            font-weight: 500;
                            line-height: 150%;
                            color:#111;
                            margin-top: 1.6rem;
                        }
                        .txt{
                            font-size: 1.5rem;
                            font-weight: 400;
                            line-height: 170%;
                            color:#585858;
                            margin-top: 1.5rem;
                            @include ellipsis(6);
                        }
                        .btn-wrap{
                            margin-top: 2.2rem;
                        }
                    }
                }
            }
            .block-2x3{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                grid-gap: 3.2rem;
                gap: 3.2rem;
                .item{
                    
                    height: 14rem;
                    display: flex;
                    text-align: center;
                    align-items: center;
                    justify-content: center;
                    border:1px solid #dedede;
                    border-radius: 0.8rem;
                    overflow:hidden;
                    .img{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            object-fit: contain;
                        }
                    }
                }
                & + h3.sub-tit{
                    margin-top: 8rem;
                }
            }
            
            
            .item{
                position: relative;
                border-radius: 0.8rem;
                overflow:hidden;
                img{
                    display: block;
                }
            }
            .txt-wrap{
                position: absolute;
                left:50%;
                top:50%;
                transform: translate(-50%,-50%);
            }
            h3.sub-tit{

            }
        }
        &-group{
            .content-gallery{
                grid-gap: 6rem 4rem;
                gap: 6rem 4rem;
                margin-top: 4rem;
                &--01{
                    grid-template-columns: repeat(4,1fr);
                }
                &--02{
                    grid-template-columns: repeat(4,1fr);
                }
                &--03{
                    grid-template-columns: repeat(4,1fr);
                }
                & + h3.sub-tit{
                    margin-top: 8rem;
                }
            }
            .content-view{
                display: flex;
                & + .btn-wrap{
                    margin-top: 4rem;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    position: relative;
                }
            }
            .viewer__data{
                margin-left: 0;
                .name{
                    margin-top: 2rem;
                    font-size: 3rem;
                    line-height: 160%;
                }
                .position{
                    margin-top: 1.4rem;
                    font-size: 1.6rem;
                    line-height: 160%;
                }
                .personal{
                    margin-top: 3rem;
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 160%;
                    padding-left: 3rem;
                }
                .email{
                    display: flex;
                    font-size: 1.6rem;
                    line-height: 160%;
                    padding-left: 3rem;
                }
                .name,
                .position{
                    
                    text-align: center;
                }
            }
            .view-left{
                width:38rem;
                .viewer__img{
                    width:100%;
                    height: 50rem;
                    img{
                        width:100%;
                        height:100%;
                    }
                }
            }
            .view-right{
                margin-left:10rem;
                width: calc(100% - 48rem);
                .cate{
                    display: flex;
                    align-items: center;
                    font-size: 2.6rem;
                    line-height: 160%;
                    color:#000;
                    font-weight: 500;
                    & + .txt,
                    & + .lists{
                        margin-top: 1rem;
                    }
                    &:nth-of-type(n + 2){
                        margin-top: 6rem;
                    }
                    &::before{
                        content:'';
                        width:2.4rem;
                        height:2.4rem;
                        display: block;
                        margin-right: 1rem;
                    }
                    &.intro{
                        &::before{
                            
                            background: url(../image/sub/cate-intro.svg) no-repeat center / 2.4rem;
                        }
                    }
                    &.personal{
                        &::before{
                            background: url(../image/sub/cate-personal.svg) no-repeat center / 2.4rem;
                        }
                    }
                    &.edu{
                        &::before{
                            width:2.6rem;
                            height:2.6rem;
                            background: url(../image/sub/cate-edu.svg) no-repeat center / 2.6rem;
                        }
                    }
                    &.report{
                        &::before{
                            background: url(../image/sub/cate-report.svg) no-repeat center / 2.4rem;
                        }
                    }
                }
                .txt{
                    font-size: 1.6rem;
                    font-weight: 400;
                    line-height: 160%;
                    color:#111;
                }
                .lists{
                    li{
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: 160%;
                        color:#111;
                        a{
                            font-size: 1.6rem;
                            font-weight: 400;
                            line-height: 160%;
                            color:#111;
                        }
                    }
                }
            }
        }
        .breadcrumb__tit{
            color: #000;
            
            
        }
        .img-wrap{
            .img{
                border-radius: 0.8rem;
                overflow: hidden;
                img{
                    width:100%;
                }
            }
        }
    }
}

@media (min-width:1025px){
    

}
@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.intro{
            &-next{
                .content-layout{
                    margin-top: 4rem;
                }
                .img-wrap{
                    & + h3.sub-tit{
                        margin-top: 6rem;
                    }
                }
                h3.sub-tit{
                    & + .block-4{
                        margin-top: 2rem;
                    }
                    & + .block-2x3{
                        margin-top: 2rem;
                    }
                    & + .block-3{
                        margin-top: 2rem;
                    }
                }
                .content-detail{
                    .block-4{
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-gap: 1rem;
                        gap: 1rem;
                        a{
                            width:100%;
                            height:100%;
                            display: block;
                        }
                        .txt-wrap{
                            width:100%;
                            .tag{
                                margin-top: 3.6rem;
                                li{
                                    font-size: 1.2rem;
                                    padding:0.3rem 0.8rem;
                                    & + li{
                                        margin-top: 0.4rem;
                                    }
                                }
                            }
                        }
                        .item{
                            width:100%;
                            height:22rem;
                            img{
                                width:100%;
                                height:100%;
                                object-fit: cover;
                            }
                            & + .item{
                                margin-left: 0;
                            }
                            .txt-wrap{
                                .tit{
                                    font-size:1.8rem;
                                    text-align: center;
                                }
                            }
                        }
                        & + h3.sub-tit{
                            margin-top: 6rem;
                        }
                    }
                    .block-2x3{
                        display: grid;
                        grid-template-columns: repeat(2,1fr);
                        grid-gap: 1rem;
                        gap: 1rem;
                        a{
                            width:100%;
                            height:100%;
                            display: block;
                        }
                        .item{
                            width:100%;
                            height:5.2rem;
                            img{
                            }
                            & + .item{
                                margin-left: 0;
                            }
                        }
                        & + h3.sub-tit{
                            margin-top: 6rem;
                        }
                    }
                    .block-3{
                        flex-direction: column;
                        .item{
                            & + .item{
                                margin-top: 1rem;
                                margin-left: 0;
                            }
                        }
                        .txt-wrap{
                            padding:2rem;
                            .sub-tit{
                                font-size: 1.4rem;
                            }
                            .tit{
                                font-size: 1.6rem;
                                margin-top: 0.6rem;
                            }
                            .txt{

                            }
                            .btn-wrap{
                                margin-top: 1.2rem;
                                .btn-download{
                                    width:9.5rem;
                                    flex:none;
                                }
                            }
                        }
                    }
                }
                
            }
            &-group{
                .viewer__data{
                    .personal{
                        margin-top: 1.5rem;

                    }
                    .personal,
                    .email{
                        font-size: 1.4rem;
                        padding-left: 2.4rem;
                    }
                    .name{
                        font-size: 2.2rem;
                    }
                    .position{
                        margin-top: 0.8rem;
                        font-size: 1.4rem;
                    }
                    
                }
                .content-view{
                    flex-direction: column;
                    & + .btn-wrap{
                        margin-top: 3rem;
                    }
                    .view-left{
                        width:100%;
                        .viewer__img{
                            position: relative;
                            height:0;
                            padding-bottom: 131%;
                            img{
                                object-fit: cover;
                                position: absolute;
                                left: 0;
                                top:0;
                            }
                        }
                    }
                    .view-right{
                        margin-top: 4rem;
                        margin-left: 0;
                        width:100%;
                        .cate{
                            font-size: 2rem;
                            &:nth-of-type(n + 2){
                                margin-top: 3rem;
                            }
                            &::before{
                                width:2rem;
                                height:2rem;
                                margin-right:0.5rem;
                            }
                            &.intro{
                                &::before{
                                    background:url(../image/sub/cate-intro.svg) no-repeat center/2rem
                                }
                            }
                            &.personal{
                                &::before{
                                    background:url(../image/sub/cate-personal.svg) no-repeat center/2rem
                                }
                            }
                            &.edu{
                                &::before{
                                    background:url(../image/sub/cate-edu.svg) no-repeat center/2rem
                                }
                            }
                            &.report{
                                &::before{
                                    background:url(../image/sub/cate-report.svg) no-repeat center/2rem
                                }
                            }

                        }
                        .txt{
                            font-size: 1.4rem;
                        }
                        .lists{
                            li{
                                font-size: 1.4rem;
                                a{
                                    font-size: 1.4rem;
                                }
                            }
                            
                        }
                    }
                }
                .content-gallery{
                    margin-top: 2rem;
                    grid-gap: 3rem 1rem;
                    gap:3rem 1rem;
                    grid-template-columns: repeat(2, 1fr);
                    & + h3.sub-tit{
                        margin-top: 4rem;
                    }
                }
                
            }
        }
    }
}
