@charset 'utf-8';
@import 'mixin';

.sub-container{
    &.community{
        &-festival{
            .tab-panel{
                &:nth-child(1){
                    .board-detail__view-inner{
                        margin:6rem 0;
                        padding:0;
                    }
                }
                
                &:nth-child(2){
                    margin-top: 6rem;
                    margin-bottom: 4rem;
                    border-top: 1px solid #dedede;
                    border-bottom: 1px solid #dedede;
                    .board-detail__view-inner{
                        padding:0;
                        margin:4rem 0;
                    }
                    .board-detail__file{
                        padding-bottom: 4rem;
                        
                    }
                }
            }
        }
        &-notice{
            .board-detail__view-inner{
                padding:4rem 0 10rem 0;
            }
            .board-layout__table{
                td{
                    &:nth-child(3){
                        @include ellipsis(1);
                    }
                    &:nth-child(4){
                        color:#585858;
                    }
                    &:nth-child(5){
                        color:#585858;
                    }
                }
            }
        }
        &-zeroBar{
            .board-layout__gallery .gallery-link__img{
                position: relative;
                &::before{
                    content:'';
                    position: absolute;
                    z-index: 2;
                    left:1.4rem;
                    top:1.4rem;
                    background: url(../image/sub/zeroBar-icon.png) no-repeat center / contain;
                    width:4.4rem;
                    height:4.4rem;
                }
            }
        }
        .board-layout--write{
            
        }
        
        .form-wrap{
            .form-block{
                .textArea-wrap{
                    height:24rem;
                    .y-scroll{
                        
                        textarea{
                        }
                    }
                    
                    
                }
                
            }
        }
        
    }
}

@media (min-width:320px) and (max-width:1024px){
    .sub-container{
        &.cardNews{
            .link-post > * a{
                padding-right: 0;
                width: calc(100% - 1rem);
            }
        }
        &.community{
            .board-layout--list{
                .sch-wrap{
                    .custom-select{
                        &.w-120{
                            flex:1 1 max-content;
                        }
                        & + .sch-bar{
                            flex:1 1 max-content;
                        }
                    }
                }
            }
            &-festival{
                .tab-panel{
                    &:nth-child(1){
                        .board-detail__view-inner{
                            margin:3rem 0;
                        }
                    }
                    &:nth-child(2){
                        margin:3rem 0;
                        .board-detail__view-inner{
                            margin:3.2rem 0;
                        }
                        .board-detail__file{
                            padding-bottom: 3.2rem;
                        }
                    }
                }
            }
            &-notice{
                .board-detail__view-inner{
                    padding:3.2rem 0;
                }
            }
            &-zeroBar{
                .board-layout__gallery .gallery-link__img{
                    position: relative;
                    &::before{
                        left:1rem;
                        top:1rem;
                        background: url(../image/sub/zeroBar-icon.png) no-repeat center / contain;
                        width:4rem;
                        height:4rem;
                    }
                }
            }
            .subVisual-wrap{
                .subVisual{
                    img{
                        
                    }
                }
            }
            .form-wrap{
                .form-block{
                    justify-content: center;
                }
            }
            .board-layout--list{
                
            }
            .table-basic--qnaWrite{
                .form-block{
                    justify-content: start;
                }
            }
            
        }
    }
}